/* PC용 기본 스타일 입력 (해상도 1200px 이상 ~ 제한없는100% 형식)*/

/* placeholder 스타일 지정 */
input::placeholder { color: #999; font-size: 14px; font-weight: 300; opacity: 1; }
input::-webkit-input-placeholder { color: #999; font-size: 14px; font-weight: 300; }
input:-ms-input-placeholder { color: #999; font-size: 14px; font-weight: 300;}
input:-mos-input-placeholder { color: #999; font-size: 14px; font-weight: 300; }
textarea::placeholder { color: #999; font-size: 14px; font-weight: 300; opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */ }
textarea::-webkit-input-placeholder { color: #999; font-size: 14px; font-weight: 300; }
textarea:-ms-input-placeholder { color: #999; font-size: 14px; font-weight: 300; }
textarea:-mos-input-placeholder { color: #999; font-size: 14px; font-weight: 300; }





@media screen and (max-width: 1919px) {
	/*  해당 스타일 입력 */
}

@media screen and (max-width: 1679px) {
	/*  해당 스타일 입력 */
}

@media screen and (max-width: 1439px) {
	/*  해당 스타일 입력 */
}

@media screen and (max-width: 1335px) {
	/*  해당 스타일 입력 */
}

/* 1280 이하 낮은 해상도의 PC (해상도 1024px ~ 1280px) */
@media screen and (max-width: 1279px) {
	/*  해당 스타일 입력 */
}

/* 낮은 행상도 PC, 테블릿 가로/세로 (해상도 768px ~ 1023px) */
@media screen and (max-width: 1023px) {
	/*  해당 스타일 입력 */
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px) */
@media screen and (max-width: 767px) {
	/*  해당 스타일 입력 */
}

/* 일반적인 모바일 세로 (해상도 ~ 479px) */
@media screen and (max-width: 479px) {
	/*  해당 스타일 입력 */
}
