/* PC용 기본 스타일 입력 (해상도 1200px 이상 ~ 제한없는100% 형식)*/
div#body_wrap { position:relative; width:100%;  max-width: 100%; margin: 0 auto; text-align:center;  }

/* 헤더 영역 */
header {position:fixed; left:0; top:0; z-index:999; width:100%; height:80px; line-height:80px; background:none; text-align:center;  }
div.logo {position:absolute;  left: 40px; top:0px; z-index:999; text-align:left; }
div.logo img { max-width:100%; }
 
.gnb a { font-size:18px; color:#fff; }

/* 0625_GNB 풀다운으로 수정 */

.gnb{
    height: 80px;
    overflow: hidden;
}
.nav_top li,
.hd_btm li {
	width: 11%;
	float: left;
	text-align: center
}

.nav_top li a {
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	position: relative;
	letter-spacing: -1px;
}

.nav_top li a:before {
	content: "";
	width: 0;
	height: 2px;
	background-color: #e60012;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: width .3s;
}

.nav_top li:hover a:before {
	opacity: 1;
	width: 24px;
}

.nav_top li.active a:before {
	opacity: 1;
	width: 24px;
}

.nav_top li.hover a:before {
	opacity: 1;
	width: 24px;
}

.hd_btm {
	background: #fff;
	display: none;
	border-bottom: 1px solid #eee;
    /*margin-top: -1px;*/
}

.flex_height {
	display: -moz-box;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex_height li {
	position: relative;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

header .hd_inner {
	max-width: 100%;
	width: 1275px;
	margin: 0 auto;
	margin-left:230px;
}

header.active {
	transition: .2s;
    /*background-color: #fff;*/
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.hd_btm li {
	padding: 20px 0;
	/*line-height: 3;*/
    line-height: 40px;
}

.hd_btm li.active {
	background-color: #f4f7fb;
	transition: .3s
}

.hd_btm li a {
	font-size: 16px;
	font-weight: normal;
	color: #666 !important;
	padding: 5px 0;
	line-height: 40px;
    width: 100%;
    display: inline-block
}

.hd_btm li a:hover {
	color: #e60012 !important;
}
/* 수정 끝 */

div.btn_language {position:absolute;  right: 40px; top:0px; z-index:999; }
div.btn_language p { display:inline-block; margin-top:20px;  margin-left:10px; height:40px; line-height:44px; padding:0 20px; border:1px solid #fff; border-radius:40px;font-weight:300;  }
div.btn_language p.btn_mo_menu { display:none; }
div.btn_language p a { color:#fff; }
div.btn_language p i {display:inline-block; font-size:22px;  vertical-align:middle; margin-bottom:4px; }
div.btn_language p span { display:inline-block;}


/* 페이지 스크롤시 상단 gnb 영역 모두 변화 */
header.scroll { background:rgba(255,255,255,1);box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.1); }
header.scroll .gnb a { color:#000; }
header.scroll .btn_language p {  border:1px solid #e60012; background:#e60012;  }



/* 풋터 영역 */
footer {position:relative; width:90%; max-width:1300px;  margin:0 auto; font-size:14px; color:#888;  background:#fff;  text-align:left;  padding:50px 0 100px 0;  }
footer > div.footer_logo { margin-bottom:30px;}
footer > div.footer_logo img { max-width:100%; }
footer > span { color:#bbb; }
div.copyright { margin-top:15px; font-size:14px; color:#bbb; }
div.sns_wrap { position:absolute;  right: 0px; top:50px; z-index:999; text-align:right; }


/* 탑버튼 */
aside{position:fixed; bottom:80px; right:5%; z-index:98;}
aside > a{display:block; margin-bottom: 10px; width: 54px; height: 54px; border-radius: 20px;  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08);  border: solid 1px #eaeaea; background-color: #fff; text-align:center; line-height:54px; font-size:1.6rem;}
aside > a.gomail{background:#e60012; color:#fff; border:none; }

/******* 하단 고정 배너 *******/
#fix_bottom{width:100%; position:fixed; bottom:0; left:0; z-index:999999; background:#e60012; box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08); text-align:center;}
	#fix_bottom ul{}
	#fix_bottom li{float:left; width:20%;  border-right:1px solid #fff; margin:18px 0;}
		#fix_bottom li a{font-size:1.25rem; font-weight:600; color:#fff;}
		#fix_bottom li i{color:#fff; vertical-align:middle; margin-right:7px;}
		#fix_bottom li:hover i{color:#fff;}


@media screen and (max-width: 1800px) {
.nav_top li,
.hd_btm li {
	width: 10%;
}
}

@media screen and (max-width: 1700px) {
.nav_top li,
.hd_btm li {
	width: 9%;
}
}

@media screen and (max-width: 1450px) {
    header .hd_inner{
        margin-left:180px;
    }
}



@media screen and (max-width: 1919px) {
	/*  해당 스타일 입력 */
}

@media screen and (max-width: 1679px) {
	div.gnb a { padding:0 1%;  }

}

@media screen and (max-width: 1652px) {
    header .hd_inner{
        width: 1100px;
    }
    .hd_btm li a{
        font-size: 13px;
    }

}

@media screen and (max-width: 1400px) {
    div.gnb a { padding:0 1%; font-size:17px; }
    .hd_inner { display:none; }
    div.btn_language p.btn_mo_menu { display:inline-block; }
}

@media screen and (max-width: 1335px) {
	
}

/* 1280 이하 낮은 해상도의 PC (해상도 1024px ~ 1280px) */
@media screen and (max-width: 1279px) {
	div.gnb a { padding:0 0.8%; font-size:15px; }
}

/* 낮은 행상도 PC, 테블릿 가로/세로 (해상도 768px ~ 1023px) */
@media screen and (max-width: 1023px) {

	



}


@media screen and (max-width:767px){
	#fix_bottom li a{font-size:0.875rem;}
	#fix_bottom li i{width:100%; margin-bottom:4px; font-size:2rem;}
}

@media screen and (max-width:479px){
	#fix_bottom li i{font-size:1rem;}
	#fix_bottom li{border-right:none;}
}


/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px) */
@media screen and (max-width: 767px) {
	/*  해당 스타일 입력 */
}

/* 일반적인 모바일 세로 (해상도 ~ 479px) */
@media screen and (max-width: 479px) {
	header {height:60px; line-height:60px; }
	div.logo img { max-width:80%; }
	div.logo { left: 20px; }
	div.btn_language { right: 20px; }
	div.btn_language p { margin-left:5px; margin-top:10px; width:40px; height:40px; line-height:43px; padding:0; border-radius:40px; }
	div.btn_language p span { display:none;}

	
}
