
/* PC용 기본 스타일 입력 (해상도 1200px 이상 ~ 제한없는100% 형식)*/
#main_visual_wrap {position:relative; width:100%; background:#2d435f; color:#fff; margin-bottom:15%;}
#main_visual_wrap img { max-width:100%; height:auto; }
section.main_section {position:relative; width:100%; max-width:100%; background:#fff;  margin:0 auto;  }

	.pc { display:block; }
	.mo767 { display:none; }


/* 비쥬얼 영역 */
div.visual_img_wrap { position:relative; } 
div.visual_img_wrap img { width:100%; height:auto; }
	div.visual_type {position:absolute;  z-index:100; left:19%; top:30%; max-width:635px; text-align:left; }
	div.visual_type img { max-width:100%; }
	div.visual_type p { font-size:52px;letter-spacing:-0.02em; margin-top:20px;text-shadow: 3px 5px 10px #000;}
	div.visual_type > div.date { font-size:28px; font-weight:700; margin-top:60px; line-height:1;text-shadow: 3px 5px 10px #000;}
		div.visual_type > div.date span { font-size:22px; font-weight:300;text-shadow: 3px 5px 10px #000;}
		div.visual_type > div.date strong {  font-weight:700; border-left:1px solid rgba(255,255,255,0.5); margin-left:20px; padding-left:20px;text-shadow: 3px 5px 10px #000;}


/* 메인 비쥬얼 영상 영역 */
.main_visual {
	position: relative;
}

.main_visual .video_wrap {
	height: 900px;
	overflow: hidden;
	position: relative;
	
}

.main_visual .video_wrap:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}


.main_visual .video_wrap iframe {
	width: 100vw;
	height: 56.25vw;
	min-height: 100vh;
	min-width: 177.77vh;
	position: absolute;
	top: 41%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main_visual .video_wrap video.pc {
	display: block
}

.main_visual .video_wrap video.mo {
	display: none
}

.main_visual .video_wrap video {
	display: block;
	max-width:
}



@media screen and (max-width: 1600px) {
	.main_visual .video_wrap {
		height: 100vh
	}
}

@media screen and (max-width: 960px) {

	.main_visual .video_wrap {
		height: 540px;
	}

	.main_visual .video_wrap iframe {
		height: 540px !important
	}

	.main_visual .video_wrap {
		/* height: 1080px;*/
		overflow: hidden;
	}
}


@media screen and (max-width: 500px) {

	.main_visual {
		position: relative;
		height: 540px;
		overflow: hidden;
	}
	.main_visual .video_wrap {
		overflow: hidden
	}

	.main_visual .video_wrap video.pc {
		display: none
	}

	.main_visual .video_wrap video.mo {
		display: block;
		width: 100%
	}
}


/* 비쥬얼 하단 퀵메뉴 3개 */
div.quickmenu_wrap {display:flex; position:absolute;  z-index:100; bottom:-150px; width:90%; max-width:1300px;   left:50%;  transform: translate(-50%, 0);   background:#fff;  border-radius:20px; box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.1);}
	div.quickmenu_wrap .col { flex:33.333%; display: flex; flex-direction: column; padding:40px 30px 30px 40px;}
		.col.center { background:#f5f6f9; }
		div.quick_row { text-align:left; background: url("/kor/main_images/main/quick_btn_02.png") no-repeat right center;  background-size:115px auto; padding-right:130px;}
		.col.center div.quick_row { background: url("/kor/main_images/main/quick_btn_01.png") no-repeat right center; background-size:115px auto; padding-right:130px;}
		.col.right div.quick_row {background: url("/kor/main_images/main/quick_btn_03.png") no-repeat right center; background-size:115px auto; padding-right:130px;}
		
		div.quick_row p { font-size:26px; color:#111;  margin-bottom:20px; }
		div.quick_row strong { font-weight:400;color:#111;   } 
		div.quick_row span  { display:block; margin-top:20px;  padding:7px 0;width:100px;  border:1px solid #ddd; border-radius:6px; text-align:center; font-size:15px; background:#fff;}
		div.quick_row span a { color:#555; }
		div.quick_row span i {  vertical-align:middle; font-size:17px; color:#cacaca; }



/* 뉴스게시판 */
div.colum_content_wrap {}
	dl.colum_item { margin-left:17%; text-align:left; }
	
		dl.colum_item > dt { float:left; width:380px; margin-right:50px; }
			dl.colum_item > dt  span {  font-size:16px; color:#555; }
			div.title {position:relative; width:100%; font-size:54px; font-weight:700; line-height:1 !important;margin-bottom:20px;}
			div.title:after {    
					background: url("/kor/main_images/common/ico_ci.png") no-repeat right top;  
					content: "";
					display: inline-block;
					height: 38px;
					width: 16px;    
					margin-left:10px;
			}
		div.btn_category_wrap { }
			div.btn_category_wrap > a { font-size:20px; margin-right:50px; cursor:pointer; cursor:hand; }
			div.btn_category_wrap > a:last-child {margin-right:0px;  }
			div.btn_category_wrap > a.act { font-size:20px; color:#111; border-bottom:2px solid #111;  }
		div.btn_more {  text-align:center; width:55px; height:55px;}
			div.btn_more a  { display:block; width:55px; height:55px; line-height:60px; font-size:27px; border:1px solid #ddd; border-radius:6px; vertical-align:middle; margin-top:60px;  }

	dl.colum_item > dd { float:left; width:calc(100% - 430px); }
		dl.colum_item ol{width:74%; border:1px solid #efefef; border-radius:20px; padding: 45px 30px 30px 30px;}
		dl.colum_item ol li a{width:100%;}
		dl.bbs_item { text-align:left;}
		dl.bbs_item > dt {}
		/*dl.bbs_item > dt:after {
        content: "";
        display: block;
        width: 40px;
        border-bottom: 2px solid #111;
        margin: 20px 0px;
		}*/
		
		dl.bbs_item > dt p {line-height:30px; float:right; font-size:14px; color:#999; font-weight:400; height:34px;}
		dl.bbs_item > dt strong {margin-right:10px; /*min-width:658px;*/ width:80%; float:left; display:block; font-size:20px; color:#000;  font-weight:400; height:25px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word;} 
		dl.bbs_item > dt span.ico_new {margin-right:5px; float:left; display:inline-block; width:25px; height:25px; font-size:14px;  font-weight:700; line-height:28px; background:#e60012; color:#fff; margin-left:5px; text-align:center; border-radius:40px; }
		dl.bbs_item > dd {font-size:18px; color:#555; height:80px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word; }
			p.item_more_btn { position:absolute;  z-index:100; right:30px;bottom:15px; font-size:27px;}



		.mySwiper .swiper-slide {position:relative;  width: 400px; min-height:330px; margin:15px 20px 30px 30px; border-radius:20px; border:1px solid #efefef;   padding:40px; }
		.mySwiper .swiper-slide:hover  {box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.1); border:1px solid #efefef; }

		.myprojectSwiper .swiper-slide {position:relative;  width: 400px; min-height:330px; margin:15px 20px 30px 30px; border-radius:20px; border:1px solid #efefef;   padding:40px; }
		.myprojectSwiper .swiper-slide:hover  {box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.1); border:1px solid #efefef; }

		.companySwiper .swiper-slide {position:relative;  width: 400px;  margin:15px 20px 30px 30px; border-radius:20px; border:1px solid #efefef; }
		.companySwiper .swiper-slide:hover  {box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.1); border:1px solid #efefef; }





/* 도면 안내 */
div.colum_content_wrap.planpaper_wrap { background:#f4f7fb; padding:85px 0;}
dl.colum_item.planpaper {margin-right:17%;  }
dl.colum_item.planpaper { }
dl.colum_item.planpaper dd { padding-left:30px; }
	ul.planpaper_list {}
	ul.planpaper_list li { float:left; width:16%; text-align:center;  }
	ul.planpaper_list li:last-child {  }
	ul.planpaper_list li a { display:block; width:110px; height:110px; padding-top:30px; font-size:20px; color:#555;  background:#fff; border-radius:20px; box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1); }
	ul.planpaper_list li a:hover { background:#e60012;  color:#fff; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1); }
		ul.planpaper_list li a p i { color:#ddd;  font-size:27px;}



/* 라이브 */
section.main_section.live_wrap { background: url("/kor/main_images/main/bg_live.jpg") no-repeat center center; background-size:cover; padding:85px 0; }
	dl.live_item dd { padding-top:5%; }
		div.title_live {position:relative; width:100%; font-size:54px; font-weight:700; line-height:1 !important;margin-bottom:10px;}
		div.title_live:after {    
			background: url("/kor/main_images/common/ico_ci.png") no-repeat right top;  
			content: "";
			display: inline-block;
			height: 38px;
			width: 16px;    
			margin-left:10px;
		}
		div.title_live_small { font-size:24px; margin-bottom:20px; color:#666; }

		.video {
			  width: 90%;
			  max-width: 1000px;
			  margin: 30px auto;
			  border-radius: 30px;
			  background-color: #f0f0f0;
			  padding: 40px;
			  box-sizing: border-box;
			  box-shadow: 0px 8px 33px #999;
			}

			.video-container {
			  position: relative;
			  width: 100%;
			  height: auto;
			  padding-top: 50%;
			}

			iframe {
			  z-index: 1;
			  top: 0;
			  left: 0;
			  position: absolute;
			  width: 100%;
			  height: 100%;
		}




/* 참가업체 뉴스 */
section.main_section.companynews_wrap { background:#f5f6f9; padding:85px 0;}
	dl.bbs_item.companyitem { background:#fff; margin:40px; }
		p.new_photo_wrap img {  width:100%; border-radius: 20px 20px 0 0;}
		dl.bbs_item.companyitem dd { height:56px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word; }



/* 업계 뉴스 */
section.main_section.industry_wrap { background:#fff; padding:85px 0 85px;}

	.industrySwiper .swiper-slide {position:relative;  width: 400px; margin:0; border-radius:0; border:0px solid #efefef;  }	
	.industrySwiper .swiper-slide:hover  {box-shadow:none; border:0px solid #efefef; }

	ul.industry_item li { position:relative; margin:15px 20px 30px 30px; border-radius:20px; border:1px solid #efefef;  background: #fff;  padding: 40px; min-height:218px; }
	ul.industry_item li:hover  {box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.1); border:1px solid #efefef; }
		ul.industry_item li span { font-size:16px; color:#555;}
		ul.industry_item li p.bbs_title { margin-top:30px;  font-size:18px; font-weight:700;  color:#111; margin-bottom:20px; height:56px;  overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word;}







/* 후원 고정 배너 */
section.main_section.support_wrap {position:relative;   background:#f5f6f9; padding:0 0 110px; margin-top:140px; }
	div.btm_banner_wrap { position: absolute; width: 90%;  max-width: 1300px;   left: 50%; top:-23%;  transform: translate(-50%, 0);   }
	dl.colum_item.support {  margin-left: 0%; }
		div.btm_banner_wrap > ul {}
		div.btm_banner_wrap > ul > li { float:left; width:32%; margin-right:2% }
		div.btm_banner_wrap > ul > li:last-child { margin-right:0; }
		div.btm_banner_wrap > ul > li img { width:100%; border:1px solid #eee;  }





	div.support_item {width: 90%;  max-width: 1300px; margin:0 auto 0; padding:14% 0 0; }
		div.support_item div.title { font-size:46px; text-align:left }
	div.support_item > dl {}
	div.support_item > dl dt  { width:100%;}
	div.support_item > dl dd { position:relative; }

	div.support_ban_wrap { width:100%; max-width:1300px; height:50px; overflow:hidden; }
	div.support_ban_item { display:inline-block; width:185px; height:50px;}




/* 우측 하단 플라잉 배너 */
aside {}
div.flying_ban_wrap {position:fixed;  right:30px; bottom:30px; z-index:102; }
div.flying_ban_wrap ul {}
div.flying_ban_wrap ul li { width:60px; height:60px; margin-top:15px; background:#fff; border-radius:60px;  box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.1); border:1px solid #eee;}
div.flying_ban_wrap ul li:first-child { background:#e60012; }
	div.flying_ban_wrap ul li a { display:block; color:#fff; padding-top:9px; font-size:14px;}
	div.flying_ban_wrap ul li:last-child a { color:#555; }















@media screen and (max-width: 1919px) {

}

@media screen and (max-width: 1679px) {
	dl.colum_item { margin-left:10%; }
	dl.colum_item ol{width:82%}

}

@media screen and (max-width: 1439px) {
	dl.colum_item { margin-left:6%; }
	dl.colum_item.planpaper {margin-right: 6%; }
	dl.colum_item ol{width:92%}

}

@media screen and (max-width: 1335px) {
	div.visual_type > div.date { margin-top: 30px; }
	

}

/* 1280 이하 낮은 해상도의 PC (해상도 1024px ~ 1280px) */
@media screen and (max-width: 1279px) {
	/* 비쥬얼 이미지 부분 */
	div.visual_type { left:50%;  transform: translate(-50%, 0);   top:25%; max-width:70%; text-align:center; }
	div.visual_type p { font-size:24px; margin-top:20px;}
	div.visual_type > div.date strong { display:block; border-left:0px solid rgba(255,255,255,0.5); margin-left:0px; padding-left:0px; margin-top:5px; }

	/* 비쥬얼 하단 3개 퀵메뉴 */
	div.quickmenu_wrap .col { padding:30px 30px 30px 30px;}
	div.quick_row { background: url("/kor/main_images/main/quick_btn_02.png") no-repeat right top;  background-size:70px auto; padding-right:80px;}
	.col.center div.quick_row {background: url("/kor/main_images/main/quick_btn_01.png") no-repeat right top;  background-size:70px auto; padding-right:80px;}
	.col.right div.quick_row { background: url("/kor/main_images/main/quick_btn_03.png") no-repeat right top;background-size:70px auto; padding-right:80px;}

		
	#main_visual_wrap {  margin-bottom: 20%; }
	
	.mySwiper .swiper-slide {width: 360px; min-height:280px; margin:15px 15px 30px 30px;   padding:25px; }
	
	.companySwiper .swiper-slide {position:relative;  width: 360px;  margin:15px 15px 30px 30px;  }


	dl.colum_item > dt { width: 300px; }
	dl.colum_item > dd { width: calc(100% - 350px); }
	
	div.title { font-size: 44px; }
	dl.bbs_item > dt strong { font-size: 14px; height:20px; }
	dl.bbs_item > dd {  font-size: 14px; height: 65px;}
	dl.bbs_item.companyitem dd {  height: 44px; }
	ul.planpaper_list li a {  width:100px; height:100px; padding-top:27px; font-size:18px;  }
	ul.planpaper_list li a p i { color:#ddd;  font-size:24px;}
	

	div.title_live { font-size: 44px; }
	
}

@media screen and (max-width: 1120px) {
	dl.bbs_item > dt strong{width:75%;}
}

/* 낮은 행상도 PC, 테블릿 가로/세로 (해상도 768px ~ 1023px) */
@media screen and (max-width: 1023px) {
	/* 비쥬얼 이미지 부분 */
	div.visual_type > div.date {   font-size: 18px; margin-top: 20px; }
	div.visual_type > div.date span { font-size: 18px;  }

	/* 비쥬얼 하단 3개 퀵메뉴 */
	div.quickmenu_wrap { bottom:-200px; }
	div.quickmenu_wrap .col { padding:30px 15px 30px 30px;}
	div.quick_row { background: url("/kor/main_images/main/quick_btn_02.png") no-repeat left top;  background-size:60px auto; padding-right:0px; padding-top:80px;}
	.col.center div.quick_row {background: url("/kor/main_images/main/quick_btn_01.png") no-repeat left top;  background-size:60px auto; padding-right:0px; padding-top:80px;}
	.col.right div.quick_row { background: url("/kor/main_images/main/quick_btn_03.png") no-repeat left top;background-size:60px auto; padding-right:0px; padding-top:80px;}

		
		div.quick_row p { font-size:21px; color:#111;  margin-bottom:15px; }
		div.quick_row strong { font-weight:400;color:#111; font-size:15px;   } 
		div.quick_row span  { display:block; margin-top:20px;  padding:7px 0;width:100px;  border:1px solid #ddd; border-radius:6px; text-align:center; font-size:15px; background:#fff;}
		div.quick_row span a { color:#555; }
		div.quick_row span i {  vertical-align:middle; font-size:17px; color:#cacaca; }





		dl.colum_item { margin-left:0%; text-align:left; padding-top:10%;}	
		dl.colum_item.support { margin-left:0%; text-align:left; padding-top:0;}	
		dl.colum_item > dt { float:none; width:100%; margin-right:0px; text-align:center;}


		div.btn_category_wrap { }
		div.btn_category_wrap > a { font-size:20px; margin-right:30px;  }
		div.btn_more {  text-align:center; width:55px; height:55px; margin:0 auto;}
			div.btn_more a  { display:block; width:55px; height:55px;   margin-top:30px; }
		dl.colum_item > dd { float:left; width:100%;margin-top:30px;  }
		dl.colum_item ol{width:90%; margin:0 auto;}
		dl.bbs_item > dt strong{width:78%;letter-spacing: -0.05em;}

		dl.colum_item.planpaper {  margin-right: 0%; padding-top:0%;}
		dl.colum_item.planpaper {margin-top:0; }
		dl.colum_item.planpaper dd {  padding-left: 0px; }
		ul.planpaper_list li a { margin:0 auto; }

		dl.colum_item.companynews {  margin-right: 0%; padding-top:0%;}
		dl.colum_item.industry {  margin-right: 0%; padding-top:0%;}

}


@media screen and (max-width: 870px) {
	div.quickmenu_wrap {display: block;  bottom:-240px; }
	div.quickmenu_wrap .col { flex: 1 0 100%; display: flex; flex-direction: column; padding:20px 30px 20px 30px;}

	div.quick_row { background: url("/kor/main_images/main/quick_btn_02.png") no-repeat left center;  background-size:auto 33px ; padding-right:0px; padding-top:0px; padding-left:50px;}
	.col.center div.quick_row {background: url("/kor/main_images/main/quick_btn_01.png") no-repeat left center;  background-size:auto 33px; padding-right:0px; padding-top:0px; padding-left:50px;}
	.col.right div.quick_row { background: url("/kor/main_images/main/quick_btn_03.png") no-repeat left center;background-size:auto 33px; padding-right:0px; padding-top:0px; padding-left:50px;}
	div.quick_row p { margin-bottom: 5px;} 
	div.quick_row span {display:none; }

	dl.colum_item { padding-top: 15%; }

}



/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px) */
@media screen and (max-width: 767px) {
	/* 공통 */
	.pc { display:none; }
	.mo767 { display:block; }

	div.visual_type { left:50%;  transform: translate(-50%, 0);   top:25%; width:80%;  max-width:480px; }
	div.quickmenu_wrap {display: block;  bottom:-100px; }

	div.title {  font-size: 30px;}
	div.title_live {  font-size: 30px;}
	div.title:after { height: 22px; }
	div.title_live:after { height: 22px; }
	div.support_item div.title { font-size:30px; }

	.mySwiper .swiper-slide {position:relative; width: 90%; margin:15px 5% 30px 5%;  padding:0px; }	
	.mySwiper .swiper-slide dl.bbs_item { margin:30px; }
    .myprojectSwiper .swiper-slide{position:relative; width: 90%; margin:15px 5% 30px 5%;  padding:0px; }
    .myprojectSwiper .swiper-slide dl.bbs_item { margin:30px; }
	.companySwiper .swiper-slide {position:relative;  width:90%;  margin:15px 5% 30px 5%  }
	.industrySwiper  .swiper-slide {position:relative;  width:90%;  margin:15px 5% 30px 5%  }

	dl.bbs_item > dd { height: 80px; }
	dl.bbs_item.companyitem dd { height: 56px; }

	dl.bbs_item > dt strong { /*font-size: 21px; height:60px;*/}
	dl.bbs_item > dd {  font-size: 12px; }

	dl.colum_item { padding-top: 0%; }



	
		.video {
			  width: 90%;
			  max-width: 1000px;
			  margin: 30px auto;
			  border-radius: 0px;
			  background-color: none;
			  padding: 0px;
			  box-sizing: border-box;
			  box-shadow: 0px 8px 33px #999;
			}

		section.main_section.support_wrap { margin-top:0px; }
		div.btm_banner_wrap { position:relative;    }
		div.btm_banner_wrap > ul > li { float:none; width:100%; margin-right:0% }
		div.btm_banner_wrap > ul > li:last-child { margin-right:0; }
		div.btm_banner_wrap > ul > li img { max-width:100%; border:1px solid #eee;  }




}



@media screen and (max-width: 720px) {
	ul.planpaper_list li { float: none;  width: 100%; margin-bottom:10px; }
	ul.planpaper_list li a { width: 80%;  height: 60px; line-height: 60px;  padding-top: 0px;  font-size: 18px;   border-radius: 10px;}
	ul.planpaper_list li a p  { display:inline-block; margin-left:10px; }
	ul.planpaper_list li a p  i { vertical-align:middle; }
 
}

@media screen and (max-width: 599px) {
	div.quickmenu_wrap {display: block;  bottom:-146px; }
	div.quick_row p {   font-size: 19px; }
	div.quick_row strong { display:none;  }

	#main_visual_wrap {margin-bottom: 48%;}
}

@media screen and (max-width: 650px) {
	dl.bbs_item > dt strong{width:68%;}
}

/* 일반적인 모바일 세로 (해상도 ~ 479px) */
@media screen and (max-width: 479px) {
	div.title {  font-size: 24px;}
	div.title_live {  font-size: 24px;}
	div.title:after { height: 20px; }
	div.title_live:after { height: 20px; }
	div.support_item div.title { font-size:24px; }

	dl.bbs_item > dt strong{width:70%;}
}


/* 일반적인 모바일 세로 (해상도 ~ 479px) */
@media screen and (max-width: 380px) {
	div.visual_type p { font-size: 18px;  margin-top: 15px;}
	div.visual_type > div.date { font-size: 16px;  margin-top: 10px; }
	div.visual_type > div.date span { font-size: 16px;  }

	dl.colum_item ol{padding:45px 20px 30px 20px;}
	dl.bbs_item > dt strong{width:50%;}
	#main_visual_wrap {margin-bottom: 58%;}
}
