<div id="modal_page">
    <style>
        #modal_page p {
            width: 500px;
			height: 700px;
        }
    </style>

<p><img src="/asset/images/etc/200226.jpg" /></p>
<div class="text-center">
        <button id="close_btn" type="button" class="btn btn-danger btn-lg">닫기</button>
    </div>

    <script>
        var base = $('#test_page').parents('.modal_popup');

        $('#close_btn', base).on('click', function() {
            // 창 닫을때 부모창으로 값 넘기기
            $.modal.getCurrent().close({ x: '333333' });
        });
    </script>
</div>

