@charset "utf-8";

/***************************************** font *****************************************/
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 200;
    src: url(../font/NanumBarunGothicUltraLight.eot);
    src: local('NanumBarunGothicUltraLight'),
    local('NanumBarunGothicUltraLight'),
    url(../font/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
    url(../font/NanumBarunGothicUltraLight.woff2) format('woff2'),
    url(../font/NanumBarunGothicUltraLight.woff) format('woff'),
    url(../font/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url(../font/NanumBarunGothicLight.eot);
    src: local('NanumBarunGothicLight'),
    local('NanumBarunGothicLight'),
    url(../font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
    url(../font/NanumBarunGothicLight.woff2) format('woff2'),
    url(../font/NanumBarunGothicLight.woff) format('woff'),
    url(../font/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url(../font/NanumBarunGothic.eot);
    src: local('NanumBarunGothic'),
    local('NanumBarunGothic'),
    url(../font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
    url(../font/NanumBarunGothic.woff2) format('woff2'),
    url(../font/NanumBarunGothic.woff) format('woff'),
    url(../font/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url(../font/NanumBarunGothicBold.eot);
    src: local('NanumBarunGothicBold'),
    local('NanumBarunGothicBold'),
    url(../font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
    url(../font/NanumBarunGothicBold.woff2) format('woff2'),
    url(../font/NanumBarunGothicBold.woff) format('woff'),
    url(../font/NanumBarunGothicBold.ttf) format('truetype');
}

/***************************************** reset *****************************************/
html {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-style: normal;
    font-family: 'NanumBarunGothic', 'Malgun Gothic', '돋움', 'dotum', Helvetica, Arial, Sans-Serif;
    word-break: keep-all;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -webkit-text-size-adjust: none;
}

body {
    min-height: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'NanumBarunGothic', 'Malgun Gothic', '돋움', 'dotum', Helvetica, Arial, Sans-Serif;
    line-height: 23px;
    color: #222337;
}

legend, caption {
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0
}

em {
    font-style: normal
}

textarea {
    width: 99%;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    font-family: 'NanumBarunGothic', 'Malgun Gothic', '돋움', 'dotum', Helvetica, Arial, Sans-Serif;
    color: #222337;
    background: #fff;
    vertical-align: middle;
    resize: none;
}

select, input {
    vertical-align: middle;
    border-radius: 0;
    box-shadow: none;
}

ul, ol, li, dl, dt, dd {
    list-style: none
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

fieldset {
    border: 0
}

table {
    border-collapse: collapse;
    font-size: 16px;
    color: #222337;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    margin: 0;
}

th {
    text-align: center;
    color: #222337;
    line-height: 16px;
}

td {
    text-align: left;
}

strong {
    font-weight: 700;
}

button {
    overflow: visible;
    cursor: pointer;
    background: none;
    border: 0;
}

button:focus {
    outline: none;
}

a {
    color: #222337;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #222337;
    text-decoration: underline
}

p {
    line-height: 30px;
}

/*input[type=checkbox],
input[type=radio]{width:12px;height:12px;margin:2px 5px 2px 0;padding:0;vertical-align:middle}*/
input[type=text],
input[type=password] {
    padding: 0; /* line-height:40px; */
    height: 40px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #222337;
    background: #fff;
    text-indent: 20px;
}

input[type=file] { /* line-height:28px; */
    height: 28px;
}

select {
    height: 40px;
    padding: 4px;
    border: 1px solid #ddd;
    font-size: 15px;
    color: #222337;
    font-family: 'NanumBarunGothic', 'Malgun Gothic', '돋움', 'dotum', Helvetica, Arial, Sans-Serif;
    text-indent: 16px;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

input[type=checkbox] + label {
    display: inline-block;
    padding: 0;
    position: relative;
    cursor: pointer;
}

input[type=checkbox] + label:before {
    border: 1px solid #ddd;
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 3px;
}

input[type=checkbox]:checked + label:before {
    background: #44476c;
    border-color: #44476c;
}

input[type=checkbox]:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

input[type=checkbox]:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

input[type=checkbox]:checked + label:after {
    display: inline-block;
    content: '';
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0;
    position: absolute;
    top: 4px;
    left: 7px;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
}

input[type=radio] + label {
    display: inline-block;
    padding: 0;
    position: relative;
    cursor: pointer;
}

input[type=radio] + label:before {
    border: 1px solid #ddd;
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 50%;
}

input[type=radio]:checked + label:before {
    background: #44476c;
    border-color: #44476c;
}

input[type=radio]:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

input[type=radio]:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

input[type=radio]:checked + label:after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    left: 6px;
}

input::placeholder {
    font-size: 15px;
    line-height: 1 !important;
    font-weight: 300;
    color: #b7b7b7;
}

input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 1 !important;
    font-weight: 300;
    color: #b7b7b7;
}

input:-ms-input-placeholder {
    font-size: 15px;
    line-height: 1 !important;
    font-weight: 300;
    color: #b7b7b7;
}

input:-mos-input-placeholder {
    font-size: 15px;
    line-height: 1 !important;
    font-weight: 300;
    color: #b7b7b7;
}

.inp {
    position: relative;
}

.inp.email {
    text-align: left;
}

.inp.email:after {
    display: block;
    clear: both;
    content: ''
}

.inp.email input {
    float: left;
    width: 30%;
}

.inp.email em {
    float: left;
    display: inline-block;
    text-align: center;
    width: 25px;
    font-size: 15px;
    line-height: 50px;
}

.inp.email select {
    float: right;
    width: 35%;
    height: 50px;
}

.inp.tel {
    display: table;
    width: 50%;
    table-layout: fixed;
}

.inp.tel:after {
    display: block;
    clear: both;
    content: ''
}

.inp.tel input {
    display: table-cell;
    width: 100%;
}

.inp.tel span {
    display: table-cell;
    width: 20px;
    text-align: center;
}

.inp.hp {
    text-align: left;
    padding-right: 120px;
}

.inp.hp:after {
    display: block;
    clear: both;
    content: ''
}

.inp.hp .btn {
    padding: 0;
    min-width: auto;
    width: 110px;
    font-weight: 300;
    font-size: 15px;
    position: absolute;
    right: 0
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.mb70 {
    margin-bottom: 70px !important;
}

.mb80 {
    margin-bottom: 80px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mt70 {
    margin-top: 70px !important;
}

.mt80 {
    margin-top: 80px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.link {
    color: #1889d9;
    text-decoration: underline
}

.link:hover {
    color: #1889d9;
}

.f_black {
    color: #000 !important;
}

.f_orange01 {
    color: #c95500 !important;
}

.f_blue01 {
    color: #006faa !important;
}

.f_blue02 {
    color: #5e63a2 !important;
}

.f_red01 {
    color: #e60013 !important;
}

.f_red02 {
    color: #f54242 !important;
}

.f_navy01 {
    color: #2d2f44 !important;
}

.f_green01 {
    color: #95be3d !important;
}

.f_gray01 {
    color: #7b7b7b !important;
}

.f_yellow01 {
    color: #f1d51b !important;
}

.f_white01 {
    color: #ffffff !important;
}

.bg_red {
    background: #e60013 !important;
}

.bg_red_2 {
    background: #d64155 !important;
}

.bg_blue {
    background: #1c4796 !important;
}

.bg_blue_2 {
    background: #2e5db3 !important;
}

.bg_blk {
    background: #000 !important;
}

.bg_blk_2 {
    background: #343434 !important;
}

.bg_yellow {
    background: #cb9900 !important;
}

.bg_yellow_2 {
    background: #f2c510 !important;
}

.bg_orange {
    background: #d76d0e !important;
}

.bg_orange_2 {
    background: #f38b11 !important;
}

.bg_green {
    background: #1f850b !important;
}

.bg_green_2 {
    background: #34a11e !important;
}

.bg_puple {
    background: #642198 !important;
}

.bg_puple_2 {
    background: #8b46c0 !important;
}

.bg_gray {
    background: #646464 !important;
}

.bg_gray_2 {
    background: #8b8b8b !important;
}

.bg_gray_3 {
    background: #ededed !important;
}

.bg_gray_4 {
    background: #f6f6f6 !important;
}

.bg_navy {
    background: #2d2f44 !important;
}


.f_10px {
    font-size: 10px !important
}

.f_11px {
    font-size: 11px !important
}

.f_12px {
    font-size: 12px !important
}

.f_13px {
    font-size: 13px !important
}

.f_14px {
    font-size: 14px !important
}

.f_15px {
    font-size: 15px !important
}

.f_16px {
    font-size: 16px !important
}

.f_17px {
    font-size: 17px !important
}

.f_18px {
    font-size: 18px !important
}

.f_19px {
    font-size: 19px !important
}

.f_20px {
    font-size: 20px !important
}

.f_21px {
    font-size: 21px !important
}

.f_22px {
    font-size: 22px !important
}

.f_23px {
    font-size: 23px !important
}

.f_24px {
    font-size: 24px !important
}

.f_25px {
    font-size: 25px !important
}

.f_26px {
    font-size: 26px !important
}

.f_27px {
    font-size: 27px !important
}

.f_28px {
    font-size: 28px !important
}

.f_29px {
    font-size: 29px !important
}

.f_30px {
    font-size: 30px !important
}

.over_h {
    overflow: hidden !important;
}

.vat {
    vertical-align: top !important;
}

.vam {
    vertical-align: middle !important;
}

.fw_n {
    font-weight: normal !important;
}

.fw_b {
    font-weight: bold !important;
}

.tal {
    text-align: left !important;
}

.tar {
    text-align: right !important;
}

.tac {
    text-align: center !important;
}

.fl {
    float: left !important
}

.fr {
    float: right !important
}

.blind {
    position: absolute !important;
    left: -9999em;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    text-indent: -9999em;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}

.pc_only {
    display: block !important
}

.mobile_only {
    display: none !important
}

/***************************************** layout *****************************************/
/* layout */
#wrap {
    padding-top: 48px;
    width: 100%;
    position: relative;
    min-width: 1200px
}

#header {
    width: 100%;
    background: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#header:after {
    display: block;
    clear: both;
    content: ''
}

#container {
    width: 100%;
    margin: 0;
    padding: 0;
}

#container:after {
    display: block;
    clear: both;
    content: ''
}

/*.content {width:1200px;margin:0 auto;padding:50px 0 60px 0;min-height:450px;}*/
.inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.inner:after {
    display: block;
    clear: both;
    content: ''
}

.content {
    padding: 30px 0 130px 0;
    margin: 0 auto;
    width: 1200px;
    min-height: 450px;
    position: relative;
}

.content:after {
    display: block;
    clear: both;
    content: ''
}

.content.none {
    padding-bottom: 0;
}

.header_cont {
    position: relative;
    font-size: 0;
    line-height: 1;
}

.header_cont h1 {
    position: absolute;
    width: 122px;
    height: 38px;
    top: 11px;
    left: 30px;
    background: url('../images/common/logo.png') no-repeat 0 0;
    text-indent: -9999px;
    z-index: 15;
    background-size: 122px auto;
}

.header_cont h1 a {
    display: block;
    width: 100%;
    height: 100%;
}

.util {
    position: absolute;
    right: 0;
    top: 0;
}

.util a {
    float: left;
    display: block;
    height: 70px;
    width: 70px;
    overflow: hidden;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
}

.util .blog {
    background: #e4e4e4 url('../images/common/btn_ico_blog.png') no-repeat center center;
    text-indent: -9999px;
}

.util .instagram {
    background: #222337 url('../images/common/btn_ico_instagram.png') no-repeat center center;
    text-indent: -9999px;
}

.util .facebook {
    background: #405b95 url('../images/common/btn_ico_facebook.png') no-repeat center center;
    text-indent: -9999px;
}

.util .contact {
    background: #222337 url('../images/common/btn_ico_mail.png') no-repeat center center;
    text-indent: -9999px;
}

.util .menu {
    display: none;
    background: #222337 url('../images/common/btn_ico_menu.png') no-repeat center center;
    text-indent: -9999px;
}

.util .eng {
    background: #e60013;
}

.util .eng span {
}

#footer {
    width: 100%;
    padding: 48px 0;
    text-align: left;
    background: #222337;
    font-size: 15px;
    line-height: 24px;
    color: #b7b7c7;
    font-weight: 300;
}

#footer a {
    font-size: 15px;
    line-height: 24px;
    color: #b7b7c7;
    font-weight: 300;
}

.footer_cont {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.footer_cont:after {
    display: block;
    clear: both;
    content: ''
}

.footer_addr span {
    display: inline-block;
}

.footer_addr .bar {
    text-align: center;
    margin: 0 20px;
}

.footer_addr .addr {
    display: block;
}

.footer_btn {
    position: absolute;
    right: 0;
    top: -78px;
}

.footer_btn .btn_ico {
    float: left;
}

.open_pop {
    overflow: hidden;
}

.dim {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0.5;
    background-color: rgb(0, 0, 0);
}

.gnb_wrap {
    display: inline-block;
    margin: 0 auto;
}

.gnb_header {
    display: none;
}

.gnb_wrap .gnb {
    display: inline-block;
}

.gnb_wrap .gnb a {
    display: block;
    width: 130px;
    text-align: center;
}

.gnb_wrap .gnb > ul > li {
    float: left;
    position: relative;
    line-height: 23px;
}

.gnb_wrap .gnb > ul > li > a {
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    font-weight: 700;
    color: #222;
    text-decoration: none;
    position: relative;
}

.gnb_wrap .gnb > ul > li.on > a {
    border-bottom: 2px solid #e60013;
}

.gnb_wrap .gnb > ul > li > ul {
    position: absolute;
    top: 90px;
}

.gnb_wrap .gnb > ul > li > ul > li {
    margin-bottom: 8px;
}

.gnb_wrap .gnb > ul > li > ul > li a {
    color: #666;
    font-size: 14px;
}

.gnb_wrap .gnb .dep01 {
    display: none;
}

.gnb_wrap .gnb .dep01 > li > a:hover,
.gnb_wrap .gnb .dep01 > li.on > a {
    font-weight: 700;
    color: #e60013;
    text-decoration: none;
}

.gnb_wrap .gnb .dep02 {
    display: none
}

.gnb .hide_pc {
    display: none;
}

.gnb_wrap .btn_ico.close_gnb {
    display: none;
}

.gnb_wrap .gnb.gnb_eng a {
    width: 150px;
}

.gnb_wrap .gnb.gnb_eng > ul > li > ul > li {
    margin-bottom: 18px;
}

.gnb_wrap .gnb.gnb_eng > ul > li > ul > li a {
    line-height: 16px;
}

.gnb_open {
    height: 320px;
}

.gnb_open .gnb li.on .dep01 {
    display: block;
}

/* main */
.content.main {
    padding-top: 0;
    margin: -70px auto 0;
    width: 100%;
    min-height: auto;
}

.content.main .inner h2 {
    margin-bottom: 50px;
    text-align: center;
    color: #222337;
    font-size: 38px;
    font-weight: 300;
    line-height: 1;
}

.control_go {
}

.control_go a {
    display: inline-block;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    text-indent: -999px;
    z-index: 5;
}

.control_go a.goprev {
    left: 0;
    background: url('../images/common/btn.png') no-repeat 0 0;
}

.control_go a.gonext {
    right: 0;
    background: url('../images/common/btn.png') no-repeat 0 -34px;
}

.main_vis {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.main_vis .bx-viewport {
    height: auto !important;
}

.main_vis .slide {
}

.main_vis .slide li {
    height: 700px;
}

.main_vis .vis01 {
    background: url('../images/main/vis_img07.jpg') no-repeat center center;
    background-size: cover;
}

.main_vis .vis02 {
    background: url('../images/main/vis_img08.jpg') no-repeat center center;
    background-size: cover;
}

.main_vis .vis03 {
    background: url('../images/main/vis_img09.jpg') no-repeat center center;
    background-size: cover;
}

.main_vis .vis04 {
    background: url('../images/main/vis_img10.jpg') no-repeat center center;
    background-size: cover;
}

.main_vis .vis05 {
    background: url('../images/main/vis_img11.jpg') no-repeat center center;
    background-size: cover;
}

.main_vis .vis06 {
    background: url('../images/main/vis_img12.jpg') no-repeat center center;
    background-size: cover;
}

.main_vis .vis07 {
    background: url('../images/main/vis_img13.jpg') no-repeat center center;
    background-size: cover;
}

.main_vis .txt {
    position: absolute;
    top: 190px;
    left: 50%;
    margin-left: -430px;
    color: #fff;
    z-index: 5;
}

.main_vis .txt em {
    display: block;
    width: 280px;
    height: 45px;
    background: url('../images/main/vis_txt.png') no-repeat 0 0;
    background-size: auto;
    text-indent: -9999px;
}

.main_vis .txt strong {
    margin-top: 30px;
    display: block;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
    text-shadow: 1px 1px 1px #000;
}

.main_vis .txt p {
    margin-top: 45px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 1px 1px 1px #000;
}

.main_vis .txt_eng {
    position: absolute;
    top: 190px;
    left: 50%;
    margin-left: -430px;
    color: #fff;
    z-index: 5;
}

.main_vis .txt_eng em {
    display: block;
    width: 280px;
    height: 45px;
    background: url('../images/main/vis_txt.png') no-repeat 0 0;
    background-size: auto;
    text-indent: -9999px;
}

.main_vis .txt_eng strong {
    margin-top: 30px;
    display: block;
    font-size: 44px;
    font-weight: 400;
    line-height: 1;
    text-shadow: 1px 1px 1px #000;
}

.main_vis .txt_eng p {
    margin-top: 45px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 1px 1px 1px #000;
}

/*메인타이틀부분 이미지처리 200721*/
.tit_img {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -280px;
    color: #fff;
    z-index: 5;
}


.main_vis .control {
    position: absolute;
    top: 145px;
    left: 50%;
    margin-left: -430px;
    z-index: 5;
}

.main_vis .control a {
    display: inline-block;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    opacity: .3;
    background: #fff;
    text-indent: -999px;
    border-radius: 8px;
}

.main_vis .control a.on {
    opacity: 1;
    background: #e60013;
}

.main_vis .control_go {
}

.main_vis .control_go a {
    display: inline-block;
    width: 42px;
    height: 42px;
    overflow: hidden;
    text-indent: -999px;
    position: absolute;
    top: 50%;
    margin-top: -21px;
    z-index: 5;
}

.main_vis .control_go a.goprev {
    left: 42px;
    background: url('../images/common/btn.png') no-repeat -34px 0;
}

.main_vis .control_go a.gonext {
    right: 42px;
    background: url('../images/common/btn.png') no-repeat -34px -52px;
}

.main_notice {
    margin: 0 auto 100px;
    width: 1200px;
    overflow: hidden;
}

.main_notice .bx {
    float: left;
    padding: 60px 20px 0 65px;
    margin-top: 30px;
    margin-left: -30px;
    width: 270px;
    height: 360px;
    position: relative;
    color: #fff;
}

.main_notice .bx h2 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}

.main_notice .bx > p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 200;
    letter-spacing: -0.5px;
}

.main_notice .bx_btn {
    width: 160px;
    margin-top: 27px;
}

.main_notice .bx_btn a {
    display: block;
    height: 40px;
    margin-top: -1px;
    border: 1px solid #424356;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
}

.main_notice .notice {
    padding: 70px 60px 60px;
    margin: 0;
    width: 480px;
    height: 380px;
    background-color: #eeeef2;
    background-image: url('../images/main/notice_bg_top.png'), url('../images/main/notice_bg_bm.png');
    background-repeat: no-repeat;
    background-position: right top, left bottom;
    z-index: 3;
}

.main_notice .notice h2 {
    margin-bottom: 30px;
    color: #585978;
    font-size: 28px;
    font-weight: 400;
}

.main_notice .notice li {
    margin-top: 22px;
    overflow: hidden;
    line-height: 1;
    z-index: 1;
}

.main_notice .notice li:first-child {
    margin-top: 0;
}

.main_notice .notice li a {
    float: left;
    display: block;
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_notice .notice li span {
    float: right;
    font-size: 14px;
    color: #4f5166;
    font-weight: 300;
}

.main_notice .notice .more {
    position: absolute;
    top: 20px;
    right: 20px;
}

.main_notice .regist {
    background-color: #010033;
    background-image: url('../images/main/regist_bg_top.png'), url('../images/main/regist_bg_bm.png');
    background-repeat: no-repeat;
    background-position: right 20px top 20px, right bottom;
    z-index: 2;
}

.main_notice .exhibit { /*margin-top:20px;*/
    background-color: #222337;
    background-image: url('../images/main/exhibit_bg_top.png'), url('../images/main/exhibit_bg_bm.png');
    background-repeat: no-repeat;
    background-position: right 20px top 20px, left 60px bottom;
    z-index: 1;
}

.main_notice .exhibit .bx_btn {
    margin-top: 35px;
}

.main_notice .floor {
    background: #2d2f44 url('../images/main/floor_bg_top.png') no-repeat right 20px top 20px;
}

.main_notice .floor .bx_btn a {
    float: left;
    width: 80px;
    margin-left: -1px;
}

.news_wrap > ul {
    position: relative;
}

.main_news {
    position: relative;
}

.main_news .inner {
    padding-bottom: 100px;
}

.main_news .control_go {
    width: 100%;
    position: absolute;
    top: 12px;
}

.main_news .btn_more_all {
    margin-left: -62px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.main_news .news_wrap {
    overflow: hidden;
}

.main_news .news_wrap li {
    float: left;
    margin-left: 30px;
    width: 380px;
    text-align: center;
}

.main_news .news_wrap li:first-child {
    margin-left: 0;
}

.news_wrap li a {
    display: block;
    text-decoration: none;
}

.news_wrap li a:hover .btn {
    background: #e82132;
    color: #fff;
}

.news_wrap li a > span {
    display: block;
}

/*.news_wrap li a .thum {height:285px;background:#efeef3 url('../images/common/thum_380x285.jpg') no-repeat center center;overflow:hidden;} */
.news_wrap.list li a .thum {
    height: 250px;
}

.news_wrap li a .thum {
    height: 250px;
}

.news_wrap li a .thum img {
    width: 100%;
    height: 100%;
}

.news_wrap li a .info {
    padding: 20px 20px 25px; /*margin-top:10px;*/
    background: #f8f8f8;
    text-align: center;
}

.news_wrap li a .info strong {
    display: block;
    font-weight: 300;
    font-size: 17px;
    color: #222337;
    line-height: 25px;
    word-break: keep-all;
    position: relative;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.news_wrap li a .info em:after {
    display: block;
    content: '';
    margin-left: -15px;
    position: absolute;
    left: 50%;
    top: 0;
    width: 30px;
    height: 2px;
    background: #e82132;
}

.news_wrap li a .info em {
    padding-top: 18px;
    margin-top: 18px;
    position: relative;
    display: block; /*height:48px;*/
    height: 85px;
    font-weight: 300;
    font-size: 15px;
    color: #81828d;
    overflow: hidden;
}

.news_wrap li a .btn {
    margin-top: 10px;
}

.news_wrap.list {
    overflow: hidden;
    width: 100%;
}

.news_wrap.list ul {
    margin: -10px;
}

.news_wrap.list li {
    float: left;
    padding: 10px;
    width: 33.33333333%;
    overflow: hidden;
    word-break: break-word;
}

.news_wrap.list li a {
    padding: 10px;
    border: 1px solid #ddd;
}

.news_wrap.list li a .thum {
    height: 270px;
}

.news_wrap.list li a .info {
    padding: 20px 10px 25px;
    margin-top: 10px;
    background: #fff;
}

.news_wrap.list li a:hover {
    border-color: #222337;
}

/*.news_wrap.list li a:hover .thum img {transform:scale(1.1);}*/

.news_wrap.list.typeGallery li {
    float: left;
    padding: 10px;
    width: 25%;
    overflow: hidden;
    word-break: break-word;
}

.news_wrap.list.typeGallery li a .thum {
    height: auto;
}

.news_wrap.list.typeGallery li a .thum iframe {
    width: 100%;
}

.news_wrap.list.typeGallery li a:hover .thum, .news_wrap.list.typeGallery li a:focus .thum {
    opacity: .5;
}

.news_wrap.list li a .infoGallery {
    padding: 20px; /*background:#f8f8f8;*/
    text-align: left;
}

.news_wrap.list li a .infoGallery strong {
    display: block;
    word-break: keep-all;
    position: relative;
}

.news_wrap.list li a .infoGallery strong .tit {
    display: block;
    font-weight: 700;
    font-size: 17px;
    color: #222337;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.news_wrap.list li a .infoGallery strong .date {
    display: block;
    font-size: 14px;
    color: #666;
    font-weight: 200;
    margin-top: 5px;
}

.main_news.card {
    position: relative;
    background: #d4d9e4;
}

.main_news.card .inner {
    padding-top: 60px;
    padding-bottom: 100px;
    background: url('../images/main/new_bg_right.png'), url('../images/main/new_bg_left.png');
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
}

.main_news.card .control_go {
    width: 100%;
    position: absolute;
    top: 72px;
}

.main_news.card .news_wrap {
    overflow: hidden;
}

/*.main_news.card .news_wrap li {float:left;margin-left:30px;width:380px;text-align:center;}*/
/*.main_news.card .news_wrap li:first-child {margin-left:0;}*/
.main_news.card .news_wrap li a {
    display: block;
    padding: 28px 20px 0;
    height: 213px;
    background: #fff;
    text-decoration: none;
}

.main_news.card .news_wrap li a:hover .btn {
    background: #e82132;
    color: #fff;
}

.main_news.card .news_wrap li a strong {
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 17px;
    color: #222337;
    line-height: 25px;
    word-break: keep-all;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.main_news.card .news_wrap li a strong:after {
    display: none;
}

.main_news.card .news_wrap li a em {
    padding-bottom: 18px;
    margin-bottom: 18px;
    display: block;
    font-weight: 300;
    font-size: 15px;
    color: #e82132;
    line-height: 1;
    position: relative;
}

.main_news.card .news_wrap li a em:after {
    display: block;
    content: '';
    margin-left: -15px;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 30px;
    height: 2px;
    background: #e82132;
}

.main_news.card .news_wrap li a .btn {
    margin-top: 10px;
}

.main_news.card .btn_more_all {
    margin-left: -62px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.main_mov {
    background: #edefef;
    margin-bottom: 180px;
}

.main_mov .inner {
    padding-top: 60px;
    text-align: center;
    background: url('../images/main/mov_bg_right.png'), url('../images/main/mov_bg_left.png');
    background-position: right 88px top 150px, left 20px top 80px;
    background-repeat: no-repeat, no-repeat;
}

.mov_wrap {
    display: inline-block;
    position: relative;
    width: 640px;
    padding-bottom: 30%;
    margin-bottom: -75px;
    height: 0;
    -webkit-box-shadow: 0px 29px 29px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 29px 29px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 29px 29px 3px rgba(0, 0, 0, 0.15);
}

.mov_wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main_bnr {
}

.main_bnr li {
    float: left;
    margin-left: 30px;
    width: 380px;
}

.main_bnr li:first-child {
    margin-left: 0;
}

.main_bnr li a {
    display: block;
    padding: 40px 0 0 40px;
    height: 250px;
    text-decoration: none;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}

.main_bnr li a strong {
    display: block;
    margin-bottom: 20px;
}

.main_bnr li a span {
    display: block;
}

.main_bnr li a .txt {
    width: 56%;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #8e8e8e;
}

.main_bnr li a .more {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../images/common/btn.png') no-repeat 0 -68px;
    font-size: 0px;
    text-indent: -9999px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.main_bnr .bnr01 a {
    padding: 30px 0 0 50px; /*margin-top:-40px;height:290px;*/
    border: none;
    background: url('../images/main/bnr01_bg.png') no-repeat 0 0;
    background-size: cover;
}

.main_bnr .bnr01 a strong {
    margin-bottom: 30px;
}

.main_bnr .bnr01 a .txt {
    width: 80%;
    color: #fff;
}

.main_bnr .bnr01 a .more {
    width: 36px;
    height: 36px;
    background: url('../images/common/btn.png') no-repeat -132px 0;
}

.main_bnr .bnr02 a {
    background: url('../images/main/bnr02_bg.png') no-repeat right bottom;
    background-size: cover;
}

.main_bnr .bnr03 a {
    background: url('../images/main/bnr03_bg.png') no-repeat right bottom;
    background-size: cover;
}

.main_bnr .bnr_etc a {
    width: 380px;
    height: 250px;
}

.main_sponsor {
    padding: 120px 10px 0;
}

.main_sponsor .control_go {
    width: 100%;
    position: absolute;
    top: 12px;
}

.main_sponsor .sponsor_wrap {
    padding-top: 20px;
    height: 82px;
    overflow: hidden;
    border-top: 2px solid #222337;
}

.main_sponsor .sponsor_wrap .slide {
    width: 99999px;
}

.main_sponsor .sponsor_wrap li {
    float: left;
    margin-right: 20px;
    text-align: center;
}

/* .main_sponsor .sponsor_wrap li {margin-right:20px;} */
.main_sponsor .sponsor_wrap li a {
    display: block;
    border: 1px solid #ddd;
}

.main_sponsor .sponsor_wrap li a img { /*height:58px;*/
}

.main_sponsor .sponsor_wrap .bx-wrapper {
    width: 100% !important;
}

/* .main_sponsor .sponsor_wrap .bx-wrapper{width:100% !important;max-width:100% !important;} */


.gtSrFt {
    position: fixed;
    z-index: 10000000;
    display: block;
    width: auto;
    right: 24px;
    bottom: 24px;
    background: transparent;
    overflow: visible;
}


/* sub */
.gap {
    margin-top: 80px;
}

.gapl {
    margin-top: 60px;
}

.gapm {
    margin-top: 50px;
}

.gaps {
    margin-top: 30px;
}

.gapss {
    margin-top: 15px;
}

.location {
    margin: 0 0 50px 0;
    overflow: hidden;
    text-align: right;
    color: #828282;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
}

.location a {
    color: #828282;
}

h3 {
    padding-left: 38px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 35px;
    color: #222337;
    position: relative;
    line-height: 1;
}

h3:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background: #e60013;
}

h3 span {
    font-weight: 300;
    color: #828282;
    font-size: 20px;
}

h4 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 27px;
    color: #49494a;
    line-height: 1;
}

h4 span {
    font-weight: 400;
    color: #828282;
    font-size: 16px;
}

h4 em {
    font-weight: 300;
}

h4 .ico {
    vertical-align: middle;
}

h5 {
    padding-left: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 21px;
    color: #49494a;
    position: relative;
    line-height: 1;
}

h5:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    background: #e60013;
}

.top_tit {
    margin-bottom: 50px;
}

.top_tit:after {
    display: block;
    clear: both;
    content: ''
}

.top_tit h2 {
    margin-bottom: 0;
    text-align: center;
    font-size: 45px;
    line-height: 47px;
    font-weight: 400;
}

.top_tit h2 img {
    vertical-align: middle;
}

.top_tit.line {
    padding-bottom: 50px;
    border-bottom: 2px solid #222337;
}

.tit_area {
    position: relative;
}

.tit_area:after {
    display: block;
    clear: both;
    content: ''
}

.tit_area h3, .tit_area h4 {
    float: left;
}

.tit_area .add {
    display: inline-block;
    font-size: 14px;
    color: #888;
    position: absolute;
    right: 0;
    bottom: 15px;
}

.sub_top {
    overflow: hidden;
    text-align: center;
    height: 190px;
    position: relative;
}

.sub_top.about {
    background: url('../images/about/vis_top.jpg') no-repeat right bottom;
    background-size: cover;
}

.sub_top.enroll {
    background: url('../images/enroll/vis_top.jpg') no-repeat right bottom;
    background-size: cover;
}

.sub_top.search {
    background: url('../images/search/vis_top.jpg') no-repeat right bottom;
    background-size: cover;
}

.sub_top.news,
.sub_top.board {
    background: url('../images/board/vis_top.jpg') no-repeat right bottom;
    background-size: cover;
}

.sub_top.seminar {
    background: url('../images/seminar/vis_top.jpg') no-repeat right bottom;
    background-size: cover;
}

.sub_top.visit {
    background: url('../images/visit/vis_top.jpg') no-repeat right bottom;
    background-size: cover;
}

.sub_top.gmep {
    background: url('../images/gmep/vis_top.jpg') no-repeat right bottom;
    background-size: cover;
}

.sub_top.medicomtek {
    background: url('../images/medicomtek/vis_top.jpg') no-repeat right bottom;
    background-size: cover;
}

.sub_top.guide {
    background: url('../images/guide/vis_top.jpg') no-repeat right bottom;
    background-size: cover;
}

.lnb_wrap {
    width: 1200px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -600px;
}

.lnb_wrap .lnb {
    display: table;
    width: 100%;
    height: 50px;
    table-layout: fixed;
}

.lnb_wrap li {
    display: table-cell;
    text-align: center;
    background: rgba(1, 0, 51, 0.8);
}

.lnb_wrap li a:hover,
.lnb_wrap li.on a {
    background: #e60013;
}

.lnb_wrap li a {
    display: block;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
}

.lnb_wrap .bg {
}

.bx-controls {
    display: none;
}

.news_wrap .bx-viewport {
    padding: 0 15px;
}

/***************************************** media *****************************************/


@media screen and (max-width: 1600px) {
    .gnb_wrap .gnb {
        padding-right: 210px;
    }

    .gnb_wrap .gnb a {
        width: 120px;
    }
}


@media screen and (max-width: 1500px) {
    .gnb_wrap .gnb {
        padding-right: 210px;
    }

    .gnb_wrap .gnb a {
        width: 105px;
    }
}


@media screen and (max-width: 1300px) {
    .header_side {
        width: 100%;
        height: 70px;
        display: block;
        border-bottom: 1px solid #e5e5e5;
    }

    .gnb_open {
        height: 340px;
    }

    .gnb_wrap .gnb {
        display: none;
    }

    .gnb_wrap .gnb a {
        width: 90px;
    }
}

@media screen and (max-width: 1024px) {
    .pc_only {
        display: none !important
    }

    .mobile_only {
        display: block !important
    }

    .main_news .control_go {
        display: none;
    }

    #wrap {
        min-width: 100%;
    }

    body {
        font-size: 15px;
    }

    body label {
        font-size: 15px;
    }

    p {
        font-size: inherit;
        line-height: 26px;
    }

    .inner {
        width: 100%;
    }

    .main_news.card {
        padding: 0 15px;
    }

    .header_side {
        border-bottom: none;
    }

    .util .menu {
        display: block;
    }

    .location {
        display: none;
    }

    .footer_cont {
        width: 100%;
    }

    .footer_addr {
        width: 100%;
    }

    .footer_addr * {
        text-align: center;
        font-size: 13px;
    }

    .footer_addr .bar {
        margin: 0 5px;
    }

    .content {
        width: 100%;
        padding: 30px 10px 100px;
    }

    .content.main {
        padding-bottom: 60px;
        padding-left: 0;
        padding-right: 0;
    }

    .content.main .inner h2 {
        margin-bottom: 30px;
        font-size: 32px;
    }

    .gnb_wrap .gnb {
        display: none;
        padding-right: 0;
    }

    .gnb_open {
        height: 70px;
    }

    .gnb_open .gnb_header {
        display: block;
        padding: 30px;
        background: #010033;
        color: #fff;
        text-align: left;
    }

    .gnb_open .gnb_header a {
        display: inline-block;
        width: 100px;
        height: 30px;
        text-align: center;
        border: 1px solid #424356;
        color: #fff;
        line-height: 30px;
        font-weight: 300;
        font-size: 14px;
        text-decoration: none;
    }

    .gnb_open .gnb_wrap {
        position: fixed;
        top: 0;
        left: 10%;
        width: 90%;
        height: 100%;
        background: #fff;
        z-index: 100;
    }

    .gnb_open .gnb_wrap .btn_ico.close_gnb {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .gnb_open .gnb_wrap .hide_pc {
        display: block;
    }

    .gnb_open .gnb_wrap .gnb {
        display: block;
        height: 100%;
        overflow-y: scroll;
    }

    .gnb_open .gnb_wrap .gnb a {
        width: 100%;
        text-align: left;
        text-indent: 30px;
        font-size: 15px;
    }

    .gnb_open .gnb_wrap .gnb > ul > li {
        float: none;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    .gnb_open .gnb_wrap .gnb > ul > li > a {
        height: 48px;
        font-weight: 400;
        line-height: 48px;
    }

    .gnb_open .gnb_wrap .gnb .add > a:after,
    .gnb_open .gnb_wrap .gnb > ul > li > a:after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        right: 30px;
        width: 8px;
        height: 8px;
        border: solid #999;
        border-width: 0 1px 1px 0;
        margin-top: -7px;
        transform: rotate(405deg);
        -webkit-transform: rotate(405deg);
    }

    .gnb_open .gnb_wrap .gnb > ul > li.on > a {
        border-width: 1px;
        font-weight: 700;
        font-size: 16px;
    }

    .gnb_open .gnb_wrap .gnb > ul > li.on > a:after {
        margin-top: -4px;
        transform: rotate(-134deg);
        -webkit-transform: rotate(-134deg);
        border-color: #e60013;
    }

    .gnb_open .gnb_wrap .gnb > ul > li.on .add > a:after {
        margin-top: -4px;
        transform: rotate(-134deg);
        -webkit-transform: rotate(-134deg);
        border-color: #222;
    }

    .gnb_open .gnb_wrap .gnb > ul > li > ul {
        position: static;
        top: 0;
    }

    .gnb_open .gnb_wrap .gnb > ul > li > ul > li {
        margin: 0;
        border-top: 1px solid #e5e5e5;
    }

    .gnb_open .gnb_wrap .gnb > ul > li > ul > li:first-child {
        border: none;
    }

    .gnb_open .gnb_wrap .gnb > ul > li > ul > li a {
        padding: 11px 0;
        position: relative;
    }

    .gnb_open .gnb_wrap .gnb li.on .dep01 {
        background: #eeeef2;
    }

    .gnb_open .gnb_wrap .gnb li.on .dep02 {
        display: block;
        background: #f5f5f5;
    }

    .gnb_open .gnb_wrap .gnb li.on .dep02 a {
        padding: 10px 0;
        text-indent: 45px;
        font-size: 14px;
    }

    .gnb_open .gnb_wrap .gnb li.on .dep02 li {
        border-top: 1px dashed #e5e5e5;
    }

    .gnb_open .gnb_wrap .gnb li.on .dep02 li:first-child {
        border-top: 1px solid #e5e5e5;
    }

    .lnb_wrap {
        width: 100%;
        left: 50%;
        margin-left: -50%;
    }

    .lnb_wrap .lnb {
    }

    .lnb_wrap .lnb li {
        vertical-align: middle;
    }

    .lnb_wrap .lnb a {
        display: table;
        width: 100%;
        height: 100%;
        line-height: 1.4;
    }

    .lnb_wrap .lnb a span {
        display: table-cell;
        vertical-align: middle;
    }

    .main_vis {
        height: 450px;
    }

    .main_vis .slide li {
        height: 450px;
    }

    .main_vis .control {
        top: 43px;
        left: 70px;
        margin-left: 0;
    }

    .main_vis .control_go a.goprev {
        left: 10px;
    }

    .main_vis .control_go a.gonext {
        right: 10px;
    }

    .main_vis .txt {
        top: 90px;
        left: 70px;
        margin-left: 0;
    }

    .main_vis .txt em {
        width: 170px;
        height: 26px;
        background-size: cover;
    }

    .main_vis .txt strong {
        margin-top: 24px;
        font-size: 46px;
    }

    .main_vis .txt p {
        margin-top: 25px;
        font-size: 16px;
    }

    .main_vis .txt_eng {
        top: 90px;
        left: 70px;
        margin-left: 0;
    }

    .main_vis .txt_eng em {
        width: 170px;
        height: 26px;
        background-size: cover;
    }

    .main_vis .txt_eng strong {
        margin-top: 24px;
        font-size: 46px;
    }

    .main_vis .txt_eng p {
        margin-top: 25px;
        font-size: 16px;
    }

    /*메인타이틀부분 이미지처리 200721*/
    .tit_img {
        top: 85px;
    }

    .control_go a.goprev {
        left: 10px;
    }

    .control_go a.gonext {
        right: 10px;
    }

    /*200227.main_notice {width:100%;margin-bottom:40px;padding:0 10px;}
	.main_notice .bx {padding:50px 20px 0 50px;margin-top:25px;margin-left:-24px;width:230px;height:307px;}
	.main_notice .bx h2 {font-size:24px;}
	.main_notice .bx > p {font-size:12px;}
	.main_notice .bx_btn {width:100%;}
	.main_notice .bx_btn a {font-size:14px;}
	.main_notice .notice {padding:50px;margin-top:0;margin-left:0;width:406px;height:324px;}
	.main_notice .notice li {margin-top:18px;}
	.main_notice .notice li a {max-width:220px;height:14px;font-size:14px;}
	.main_notice .notice li span {height:14px;}
	.main_notice .notice li:first-child {margin-top:0;}

	.main_notice .regist {}
	.main_notice .exhibit {margin-top:15px;}
	.main_notice .floor {}*/
    .main_notice {
        width: 100%;
        margin: 0;
    }

    .main_notice .bx {
        margin: 0;
        padding: 30px;
        height: auto;
    }

    .main_notice .bx h2 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .main_notice .bx_btn, .main_notice .exhibit .bx_btn {
        margin-top: 10px
    }

    .main_notice .notice {
        width: 100%;
        background-size: 30% auto, 30% auto;
    }

    .main_notice .notice h2 {
        margin-bottom: 15px;
    }

    .main_notice .notice li {
        margin-top: 10px;
    }

    .main_notice .notice li span {
        font-size: 14px;
    }

    .main_notice .regist {
        width: 50%;
        height: 210px;
    }

    .main_notice .exhibit {
        width: 50%;
        height: 210px;
    }

    .main_notice .floor {
        width: 100%;
    }

    .main_notice .floor .bx_btn {
        display: table;
        border-left: 1px solid #424356;
    }

    .main_notice .floor .bx_btn a {
        display: table-cell;
        padding: 8px 8px;
        float: none;
        width: auto;
        line-height: 20px;
        border-left: none;
    }

    .main_news .news_wrap {
        overflow: hidden;
        margin-left: 0;
    }

    /*.main_news .news_wrap ul {margin:0 -5px;}*/
    .main_news .news_wrap li {
        width: calc(100% / 3);
        margin-left: 0;
    }

    .main_news .news_wrap li a {
        margin: 0 10px;
    }

    .main_news .news_wrap li a .thum {
        height: 185px;
    }

    .news_wrap li a .info {
        padding: 15px 10px 15px;
    }

    .news_wrap li img {
        width: 100%;
        height: 100%;
    }

    .news_wrap li a .info strong {
        font-size: 15px;
        line-height: 1.2;
    }

    .news_wrap li a .info em {
        padding-top: 15px;
        margin-top: 15px;
        height: 32px;
        font-size: 14px;
        line-height: 1.2;
        overflow: hidden;
    }

    .news_wrap.list li a .info {
        height: 190px;
    }

    .news_wrap li a .infoGallery strong {
        padding-bottom: 15px;
        height: 51px;
        margin-bottom: 15px;
        font-size: 15px;
        line-height: 1.2;
    }

    .news_wrap li a .infoGallery em {
        height: 32px;
        font-size: 14px;
        line-height: 1.2;
        overflow: hidden;
    }

    .news_wrap.list li a .infoGallery {
        height: auto;
    }

    .news_wrap.list li a .thum {
        height: 220px;
    }

    /*.main_news.card .news_wrap ul {margin:0 -5px;}*/
    .main_news.card .news_wrap li {
        width: calc(100% / 3);
        margin-left: 0;
    }

    .main_news.card .news_wrap li a {
        margin: 0 10px;
        padding: 20px 10px 0;
        height: 200px;
    }

    .main_news.card .news_wrap li a strong {
        font-size: 15px;
        line-height: 1.2;
    }

    .main_mov {
        margin-bottom: 150px;
    }

    .main_mov .inner {
        padding-left: 20%;
        padding-right: 20%;
    }

    .mov_wrap {
        width: 100%;
        padding-bottom: 56.25%;
    }

    .main_bnr {
        padding: 0;
    }

    .main_bnr li {
        padding-top: 30px;
        margin: 0;
        width: calc(100% / 3);
    }

    .main_bnr li:first-child {
    }

    .main_bnr li a {
        padding: 40px 0 0 30px;
        margin: 0 10px;
        height: 200px;
    }

    .main_bnr li a .txt {
        width: 60%;
        font-size: 13px;
        line-height: 18px;
    }

    .main_bnr li a strong img {
        width: 120px;
        height: auto;
    }

    .main_bnr .bnr01 a {
        padding: 40px 0 0 30px;
        margin-top: -30px;
        height: 230px;
    }

    .main_bnr .bnr01 a strong {
        margin-bottom: 20px;
    }

    .main_bnr .bnr01 a strong img {
        width: 60px
    }

    .main_bnr .bnr01 a .txt {
    }

    .main_bnr .bnr03 a .txt {
        width: 50%;
    }

    .main_bnr .bnr_etc a {
        width: 100%;
        height: auto;
    }

    .main_sponsor {
        width: 100%;
        height: 100%;
        padding: 40px 10px 0;
    }
}


@media screen and (max-width: 830px) {
    .content.main {
        margin: -20px 0 0;
    }

    .content.main .inner h2 {
        font-size: 21px;
        margin-bottom: 20px;
    }

    .main_notice {
        width: 100%;
    }

    .main_notice .bx {
        margin: 0;
        padding: 30px;
        height: auto;
    }

    .main_notice .bx h2 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .main_notice .bx_btn, .main_notice .exhibit .bx_btn {
        margin-top: 10px
    }

    .main_notice .notice {
        width: 100%;
        background-size: 30% auto, 30% auto;
    }

    .main_notice .notice h2 {
        margin-bottom: 15px;
    }

    .main_notice .notice li {
        margin-top: 10px;
    }

    .main_notice .notice li span {
        font-size: 14px;
    }

    .main_notice .regist {
        width: 50%;
        height: 210px;
    }

    .main_notice .exhibit {
        width: 50%;
        height: 210px;
    }

    .main_notice .floor {
        width: 100%;
    }

    .main_notice .floor .bx_btn {
        display: table;
        border-left: 1px solid #424356;
    }

    .main_notice .floor .bx_btn a {
        display: table-cell;
        padding: 8px 0;
        float: none;
        width: auto;
        line-height: 20px;
        border-left: none;
    }

    /*.news_wrap.list li a .info strong {text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
	.news_wrap.list li a .info em {text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}*/
}

@media screen and (max-width: 768px) {
    .inp.email {
        text-align: center;
    }

    .inp.email input {
        float: left;
        width: 45%;
    }

    .inp.email em {
        float: none;
    }

    .inp.email .emailaddr {
        float: right;
    }

    .inp.email select {
        float: none;
        margin-top: 5px;
        width: 100%;
        height: 50px;
    }

    #wrap {
        padding-top: 50px;
    }

    .footer_cont {
        width: 100%;
    }

    #header {
        height: 50px;
    }

    .header_cont {
        height: 50px;
    }

    .header_cont h1 {
        position: absolute;
        width: 90px;
        height: 28px;
        top: 8px;
        left: 15px;
        background-size: 90px auto;
    }

    .header_side {
        height: 50px;
        border: none;
    }

    .util a {
        height: 50px;
        width: 40px;
        line-height: 50px;
        font-size: 10px;
    }

    .util .instagram {
        background: #222337 url('../images/common/btn_ico_instagram.png') no-repeat center center;
        background-size: 16px auto;
    }

    .util .facebook {
        background: #405b95 url('../images/common/btn_ico_facebook.png') no-repeat center center;;
        background-size: 10px auto;
    }

    .util .contact {
        background: #222337 url('../images/common/btn_ico_mail.png') no-repeat center center;
        background-size: 12px auto;
    }

    .util .menu {
        background: #222337 url('../images/common/btn_ico_menu.png') no-repeat center center;
        background-size: 12px auto;
    }

    .lnb_wrap {
        font-size: 13px;
    }

    .paging span { /* display: block !important; */
        margin: 5px 0;
    }

    .main_vis {
        height: 250px;
    }

    .main_vis .slide li {
        height: 250px;
    }

    .main_vis .control {
        top: 20px;
        left: 37px;
    }

    .main_vis .control a {
        width: 10px;
        height: 10px;
    }

    .main_vis .control_go {
        display: none;
    }

    .main_vis .txt {
        top: 40px;
        left: 37px;
        margin-left: 0;
    }

    .main_vis .txt em {
        width: 112px;
        height: 17px;
        background-size: cover;
    }

    .main_vis .txt strong {
        margin-top: 12px;
        font-size: 23px;
        line-height: 1.2;
    }

    .main_vis .txt p {
        margin-top: 12px;
        font-size: 12px;
        line-height: 1.2;
    }

    /*메인타이틀부분 이미지처리 200721*/
    .tit_img {
        top: 45px;
        width: 360px;
        left: 50%;
        margin-left: -180px;
    }

    .main_news {
        margin: 0;
        width: 100%;
    }

    /* .main_news .news_wrap li a .info {height:230px;} */
    .main_news.card {
    }

    .news_wrap.list li, .news_wrap.list.typeGallery li {
        width: 50%;
    }

    .news_wrap.list li a .thum {
        height: 250px;
    }

    .board_search .btn_search.mr5 {
        display: none;
    }

    .main_mov {
        margin-bottom: 150px;
    }

    .main_bnr {
        margin: 0;
    }

    .main_bnr li a {
        padding: 30px 0 0 20px;
        height: 190px;
    }

    .main_bnr li a .txt {
        width: 60%;
    }

    .main_bnr li a strong img {
        width: 120px;
        height: auto;
    }

    .main_bnr .bnr01 a {
        padding: 30px 0 0 30px;
        margin-top: -30px;
        height: 220px;
    }

    .main_bnr .bnr01 a strong {
        margin-bottom: 20px;
    }

    .main_bnr .bnr01 a strong img {
        width: 60px
    }

    .main_bnr .bnr02 a {
        background-size: 100% auto !important;
    }

    .main_bnr .bnr03 a {
        background-size: 100% auto !important;
    }

    .main_bnr .bnr03 a .txt {
        width: 56%;
    }

    .main_bnr .bnr_etc a {
        width: 100%;
        height: auto;
    }

    .main_sponsor {
    }

    .main_sponsor .control_go a.goprev {
        left: 0;
    }

    .main_sponsor .control_go a.gonext {
        right: 0;
    }

    .main_sponsor .sponsor_wrap {
    }
}

@media screen and (max-width: 425px) {

    .main_news .control_go {
        display: block;
    }

    .main_notice .notice li a {
        width: 190px;
    }

    .main_notice .regist {
        height: 250px;
    }

    .main_notice .exhibit {
        height: 250px;
    }

    .main_news {
        margin: 0;
    }

    .main_news .control_go .goprev {
        left: 15px;
    }

    .main_news .control_go .gonext {
        right: 15px;
    }

    .main_news .news_wrap {
        overflow: auto;
        overflow-y: scroll;
    }

    .main_news .news_wrap .slide {
        width: 999999px;
    }

    .main_news .news_wrap li {
        width: 200px !important;
        margin-left: -10px;
    }

    .main_news .news_wrap li:first-child {
        margin-left: 5px;
    }

    .main_news .news_wrap li a {
        margin: 0 10px;
    }

    .main_news .news_wrap li a .thum {
        height: 203px;
    }

    .main_news .news_wrap li a .info {
        height: 200px;
    }

    .news_wrap.list li a {
        padding: 0;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    .news_wrap.list li, .news_wrap.list.typeGallery li {
        width: 100%;
    }

    .news_wrap.list li a .thum {
        height: 100%;
        min-height: 285px;
    }

    .main_news.card {
        padding: 0;
    }

    .main_news.card .inner {
        background-position: right top, left center;
    }

    .main_news.card .control_go .goprev {
        left: 15px;
    }

    .main_news.card .control_go .gonext {
        right: 15px;
    }

    .main_news.card .news_wrap {
        overflow: auto;
        overflow-y: scroll;
    }

    .main_news.card .news_wrap li {
        width: 270px;
        margin-left: -10px;
    }

    .main_news.card .news_wrap li:first-child {
        margin-left: 5px;
    }

    /*.main_news.card .news_wrap li:last-child a {margin-right:15px;}*/
    .main_news.card .news_wrap li a {
        margin: 0 10px;
        height: 180px;
    }

    .main_news.card .news_wrap li a .info {
    }

    .main_mov { /*margin:0;*/
        margin-bottom: 50px;
    }

    .main_mov .inner {
        padding: 40px 15px;
    }

    .mov_wrap {
        width: 100%;
        padding-bottom: 56.25%;
        margin-bottom: 0;
    }

    .main_bnr li {
        width: 50%;
        padding: 0;
    }

    .main_bnr li a {
        padding: 20px 0 0 20px;
        margin: 0;
        height: 190px;
    }

    .main_bnr li a .txt {
        width: 70%;
    }

    .main_bnr li a strong {
        margin-bottom: 13px;
    }

    .main_bnr li a strong img {
        width: 110px;
        height: auto;
    }

    .main_bnr .bnr01 {
        width: 100%;
    }

    .main_bnr .bnr01 a {
        padding: 20px 0 20px 20px;
        margin-top: 0;
        height: auto;
    }

    .main_bnr .bnr01 a strong {
        margin-bottom: 13px;
    }

    .main_bnr .bnr01 a strong img {
        width: 50px
    }

    .main_bnr .bnr01 a .txt {
        width: 90%;
    }

    .main_bnr .bnr02 a {
        border: none;
        border-bottom: 1px solid #ddd;
        background-size: 100% auto !important;
    }

    .main_bnr .bnr03 a {
        border-top: none;
        border-right: none;
        background-size: 100% auto !important;
    }

    .main_bnr .bnr03 a .txt {
        width: 60%;
    }

    .main_bnr .bnr_etc a {
        width: 100%;
        height: auto;
    }

    .sub_top {
        height: 80px;
    }

    .tit_area {
        margin-bottom: 20px;
    }

    .tit_area h3, .tit_area h4 {
        float: none;
        margin-bottom: 0;
    }

    .tit_area .add {
        position: static;
        display: block;
        margin-top: 10px;
    }

}


@media screen and (min-width: 1024px) {
    #header {
        border-bottom: 1px solid #222337;
        background-color: #fff;
    }

    #header, #header * {
        transition: none;
    }

    #header.gnb_open .dep01 {
        display: block;
    }
}


.gnb, .gnb * {
    transition: none;
}

.scrollBox {
    max-height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
}