@charset "utf-8";


/* tab */
.tab{padding:0;margin-bottom:60px;background:#fff;position:relative;}
.tab ul{width:100%;display:table;border:1px solid #ddd;border-bottom:0;position:relative;table-layout:fixed;}
.tab ul > li{position:relative;display:table-cell;height:50px;vertical-align:middle;border-left:1px solid #ddd;text-align:center;border-bottom:1px solid #ddd;}
.tab ul > li a{position:relative;display:block;width:100%;max-height:50px;padding:5px 15px;text-align:center;font-size:18px;color:#777;}
.tab ul > li a > span{display:inline-block;height:100%;position:relative;}
.tab ul > li:first-child{border-left:0;}
.tab ul > li.on{border-bottom:0;}
.tab ul > li.on a{border-bottom:1px solid transparent;font-weight:bold;color:#2d2f44;}
.tab ul > li.on:before{display:block;content:'';width:calc(100% + 2px);height:2px;position:absolute;z-index:1;top:-1px;left:-1px;background:#2d2f44;}


/* tab */
.tab02 {padding:0;margin-bottom:60px;background:#fff;position:relative;}
.tab02 ul{width:100%;display:table;border:1px solid #ddd;border-bottom:0;position:relative;table-layout:fixed;}
.tab02 ul > li{position:relative;display:table-cell;height:110px;vertical-align:middle;border-left:1px solid #ddd;text-align:center;border-bottom:1px solid #ddd;transition:none;}
.tab02 ul > li a{position:relative;display:block;width:100%;max-height:50px;padding:5px 15px;text-align:center;font-size:18px;color:#777;transition:none;}
.tab02 ul > li a > span{display:inline-block;height:100%;position:relative;}
.tab02 ul > li:first-child{border-left:0;}
.tab02 ul > li.on{border-bottom:0;}
.tab02 ul > li.on a{border-bottom:1px solid transparent;font-weight:bold;color:#2d2f44;}
.tab02 ul > li.on:before{display:block;content:'';width:calc(100% + 2px);height:2px;position:absolute;z-index:1;top:-1px;left:-1px;background:#2d2f44;}



/* tab : GMEP 일정표에 사용*/
.tabs_wrap2 li {
	width: 50%;
	float: left;
	height: 62px;
	text-align: center;
	/*border-top: 1px solid #e5e8ea;
	border-left: 1px solid #e5e8ea;
	border-right: 1px solid #e5e8ea;
	border-right-color: transparent;*/
	border-bottom: 1px solid #e60013;
	display: table;
}

.tabs_wrap2 li:last-of-type {
	border-right-color: #e5e8ea;
}

.tabs_wrap2 li a {
	color: #777;
	font-size: 20px;
	font-weight: 500;
	display: block;
	display: table-cell;
	vertical-align: middle;
	line-height: 1.5;
}

.tabs_wrap2 li a:link,
.tabs_wrap2 li a:visited {
	color: #777;
	text-decoration: none;
}

.tabs_wrap2 li.on {
	/*background-color: #e60013;
	border-color: #e60013;*/
	border-top: 3px solid #e60013;
	border-left: 1px solid #e60013;
	border-right: 1px solid #e60013;
	border-bottom: none;
}

.tabs_wrap2 li.on a,
.tabs_wrap2 li.on a:link,
.tabs_wrap2 li.on a:visited {
	color: #e60013;
	text-decoration: none;
}




.green_tab {
    width: 1400px;
    max-width: 100%;
    height: 80px;
    text-align: center;
    background: rgba(255, 255, 255, .2);
    /*
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
*/
    margin: 0 auto 60px;
}


.green_tab li {
    float: left;
    height: 100%;
    border: solid 1px #dddddd;
}

.green_tab li:not(:first-child) {
    margin-left: -1px
}

.green_tab li a {
    font-size: 18px;
    font-weight: normal;
    color: #555;
    display: block;
    width: 100%;
    height: 100%;
    display: table;
    text-decoration: none;
    padding: 0 4px
}

.green_tab li span {
    display: table-cell;
    vertical-align: middle;
    line-height: 1.2;
    letter-spacing: -.3px
}

.green_tab li span br {
    display: none
}

.green_tab li.active {
    box-shadow: 9.8px 13.9px 16.6px 4.4px rgba(10, 58, 7, 0.09);
    background-color: #e60013;
}

.green_tab li.active a {
    color: #fff;
    font-weight: bold;
}

.green_tab li:first-child:nth-last-child(1) {
    width: 50%;
}

.green_tab li:first-child:nth-last-child(2) {
    width: 50%
}

.green_tab li:first-child:nth-last-child(2) ~ li {
    width: calc(50% + 1px);
}

.green_tab li:first-child:nth-last-child(3) {
    width: 33.333%
}

.green_tab li:first-child:nth-last-child(3) ~ li {
    width: calc(33.333% + 1px);
}

.green_tab li:first-child:nth-last-child(4) {
    width: 25%
}

.green_tab li:first-child:nth-last-child(4) ~ li {
    width: calc(25% + 1px);
}

.green_tab li:first-child:nth-last-child(5) {
    width: 20%
}

.green_tab li:first-child:nth-last-child(5) ~ li {
    width: calc(20% + 1px);
}


.green_tab li:first-child:nth-last-child(6) {
    width: 16%
}

.green_tab li:first-child:nth-last-child(6) ~ li {
    width: calc(16.6% + 1px);
}





/* box */
.bx_type01 {padding:35px 40px 30px 40px;overflow:hidden;border:1px solid #ddd;font-size:18px;font-weight:300;}
.bx_type02 {padding:24px 30px;overflow:hidden;border:1px solid #ddd;}
.bx_type02 .txt {float:left;padding-left:37px;line-height:30px;background:url("../images/common/bl_chk.png") no-repeat 0 3px;}
.bx_type02 .add_btn {float:right;}
.bx_type02.top {margin-bottom:70px;}
.bx_type03 {padding:40px;border:1px solid #ddd;text-align:center;}
.bx_type04 {padding:30px;overflow:hidden;background:#f3f4f9;font-weight:300;font-size:15px;line-height:28px;}
.bx_type04.bm {margin-top:60px;}
.bx_type04.bm dl dt{font-size:16px;}
.bx_type04.bm dl.bm {padding-top:20px;margin-top:20px;border-top:1px dashed #ddd;}

.bx_list01 {overflow:hidden;border:1px solid #ddd;}
.bx_list01 > ul > li {padding:30px;border-top:1px solid #ddd;}
.bx_list01 > ul > li:first-child {border-top:none;}

.bx_wrap {overflow:hidden;}
.bx_wrap .bx {padding:60px 240px;border:1px solid #ddd;text-align:center;overflow:hidden;position:relative;}
.bx_wrap h3 {padding:0;margin-bottom:30px;font-weight:700;color:#222337;font-size:30px;}
.bx_wrap h3:after {display:none;}
.bx_wrap p {margin-bottom:20px;font-weight:300;font-size:14px;color:#888;line-height:24px;}
.bx_wrap.col .bx {float:left;padding:60px 60px 0 60px;width:50%;margin-left:-1px;}
.bx_wrap.col .bx:first-child {margin-left:0px;}

/* text */
.toptxt {margin-bottom:70px;font-weight:300;font-size:17px;line-height:30px;}
.toptxt > p {margin-top:15px;}
.toptxt > p:first-child {margin-top:0;}
.toptxt.bdr {padding-bottom:40px;border-bottom:1px dashed #ddd;}
.midtxt {margin-bottom:15px;font-weight:300;font-size:15px;color:#888;}
.addtxt {margin-top:10px;font-weight:300;font-size:15px;}

.ico_answer {display:inline-block;text-align:center;width:62px;height:24px;background:#f08200;font-size:13px;line-height:24px;font-weight:lighter;color:#fff;}
.ico_answer.complete {background:#999;}

.flag {display:inline-block;padding:1px 8px 0 8px;font-weight:400;text-align:center;color:#fff;background:#003171;vertical-align:middle;height:25px;line-height:25px;font-size:14px;}
.flag.org {background:#f08506;}
.flag.bl {background:#087fe3;}
.flag.grn {background:#0fa06f;}
.flag.gr {background:#a0a0a0;}
.flag.noti {background:#5e63a2;}

.txt_cont {}
.txt_cont p {margin-top:15px;}
.txt_cont p:first-child {margin-top:0;}

.ul_type00 {}
.ul_type00 > li {margin-top:7px;}
.ul_type00 > li:first-child {margin-top:0;}

.ul_type01 {}
.ul_type01 > li {padding-left:10px;margin-top:7px;background:url("../images/common/bl_dot02.png") no-repeat 0 8px;}
.ul_type01 > li:first-child {margin-top:0;}
.ul_type01.add {margin-top:15px;}
.ul_type01.add > li {margin-top:4px;font-size:15px;font-weight:300;}

.ul_type00 li .add,
.ul_type01 li .add,
.ul_type02 li .add {margin-top:10px;margin-left:10px;}

/*
.ul_type01 {}
.ul_type01 > li {padding-left:10px;margin-top:7px;background:url("../images/common/bl_dot02.png") no-repeat 0 8px;}
.ul_type01 > li:first-child {margin-top:0;}

.dl_type01 {}
.dl_type01 dt {margin-bottom:8px;font-weight:700;font-size:18px;}
.dl_type01 dd {margin-top:5px;font-size:15px;}
*/


.dl_type02 dt {padding-left:37px;margin-bottom:10px;line-height:24px;background:url("../images/common/bl_chk.png") no-repeat 0 0;font-weight:400;}
.dl_type02 dd {padding-left:37px;margin-top:3px;}

.dl_type03 {}
.dl_type03 dt {margin-bottom:8px;font-weight:700;color:#5e63a2;}
.dl_type03 dd {margin-top:5px;font-size:15px;}
.dl_type03 + .dl_type03 {margin-top:10px;}

.cont_wrap {overflow:hidden;}
.cont_wrap > a {display:block;border:1px solid #ddd;font-weight:700;font-size:17px;padding:20px;text-decoration:none;background:url("../images/common/bg_updown.png") no-repeat right -60px;transition:none;-webkit-transition:none;}
.cont_wrap > a.on {background-position:right 20px;}
.cont_wrap > a span {font-weight:300;font-size:15px;}
.cont_wrap .cont_in {display:none;padding-top:20px;}
.cont_wrap .cont_in.on {display:block;}

/* btn */
.btn_img {vertical-align:middle;margin-left:3px;}

.btn_ico {display:inline-block;width:32px;height:32px;background:url("../images/common/btn.png") no-repeat 0 0;font-size:0px;text-indent:-9999px;z-index:10;}
.btn_ico.close_gnb {width:24px;height:24px;background-position:0 -103px;}
.btn_ico.top {width:60px;height:60px;background-position:-156px -46px;}
.btn_ico.fb {width:60px;height:60px;background-position:-86px -46px;}
.btn_ico.more {width:36px;height:36px;background-position:-86px 0;}
.btn_ico.prev {background-position:0 0;}
.btn_ico.next {background-position:0 -42px;}
.btn_ico.qna_write {width:16px;height:16px;background-position:-84px 0;}
.btn_ico.qna_del {width:16px;height:16px;background-position:-110px 0;}
.btn_ico.del {width:24px;height:24px;background-position:-34px -116px;}

.btn {display:inline-block;padding:0 25px;font-weight:400;text-align:center;color:#fff;background:#222337;min-width:130px;height:50px;line-height:50px;font-size:18px;vertical-align:middle;}
.btn:hover {color:#fff !important;text-decoration:none;background:#000 !important;}
.btn span {display:inline-block;transition:none;-webkit-transition:none}
.btn.full {padding:0;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;height:50px;line-height:50px;}
.btn.full:hover {color:#333;}
.btn.large {min-width:200px;height:60px;line-height:60px;font-size:20px;}
.btn.large02 {min-width:300px;height:70px;line-height:70px;font-size:23px;border-radius: 15px;}
.btn.mid {height:40px !important;line-height:40px !important;min-width:90px;font-size:15px;font-weight:300;}
.btn.small {padding:0 10px !important;height:30px !important;line-height:30px !important;min-width:50px;font-size:14px;font-weight:400;}
.btn.xsmall {padding:0 10px !important;height:25px !important;line-height:25px !important;font-size:14px;font-weight:400;}
.btn.bdr {background:transparent;height:35px;border:1px solid #222337;color:#222337;line-height:35px;font-size:15px;font-weight:400;}
.btn.bdr:hover {color:#fff !important;}
.btn.bdr.large {height:50px;line-height:50px;font-size:18px;}
.btn.bdr_r {background:transparent;height:35px;border:1px solid #e60013;color:#e60013;line-height:35px;font-size:15px;font-weight:300;}
.btn.bdr_r:hover {background:#e60013 !important;}
.btn_w {background:#fff;border:1px solid #ddd;color:#555;}
.btn_bk {background:#333;}
.btn_re {background:#e60013;}
.btn_bl {background:#1074ba;}
.btn_grn {background:#0fa06f;}
.btn_gr {background:#a0a0a0;}
.btn_p_s {background:#b80f6b;padding:0 15px;min-width:28px;height:25px;line-height:25px;font-size:11px;}
.btn_gr_s {background:#626262;padding:0 15px;min-width:28px;height:25px;line-height:25px;font-size:11px;}
.btn_more_all {display:inline-block;width:124px;height:66px;background:url("../images/common/btn_more.png") no-repeat 0 0;text-align:center;color:#fff !important;font-weight:300;font-size:15px;}
.btn_more_all span {display:inline-block;margin-top:37px;}

.btn_area {padding:30px 0 0 0;overflow:hidden;text-align:center;}
.btn_area a {margin:0 2px;}
.btn_area.top {padding:0 0 20px 0;text-align:right;}
.btn_area.top a {margin:0 0 0 5px;}
.btn_area.txa_l {padding:30px 0 0 0;overflow:hidden;text-align:left;}
.btn_area.txa_l a {margin:0 5px 0 0;}
/*.btn_area.txa_c {padding:30px 0 0 0;overflow:hidden;text-align:center;}*/
.btn_area.pt0 {}
.btn_area .full {margin:0;}

.topbtn {margin:-50px 0 10px 0;overflow:hidden;text-align:right;}

/* Board Search */
.board_top {overflow:hidden;padding:0 0 20px 0;}
.board_count {float:left;margin-top:10px;}
.board_count strong {color:#e60013;}
.board_side {float:right;}
.board_search {float:right;text-align:center;}
.board_search img {vertical-align:middle;line-height:24px;}
.board_search select {width:100px;}
.board_search .inp_search {width:250px;}
.btn_search {margin-left:-5px;width:56px;height:40px;line-height:40px;font-size:15px;color:#fff;background:#222337;border:0;vertical-align:middle;}
.board_search.add_btn fieldset {float:left;}
.board_search.add_btn .btn {float:right;margin-left:10px;}

.search_keyword {margin-bottom:60px;overflow:hidden;border:1px solid #2d2f44;text-align:center;}
.search_keyword .keyword {padding:30px 0;}
.search_keyword .keyword input {width:50%;}
.search_keyword .keyword p {margin-top:7px;font-size:14px;color:#888;}
.keyword_chk {padding:30px 0;border-top:1px dashed #ddd;text-align:center;}
.keyword_chk .ko {margin-top:2px;}
.keyword_chk a {display:inline-block;width:36px;height:36px;padding:0;margin:2px 1px;line-height:36px;border:1px solid #ddd;vertical-align:middle;text-decoration:none;transition:none;-webkit-transition:none}
.keyword_chk a:hover,
.keyword_chk a.on {color:#fff;background:#222337;border:1px solid #222337;}
.keyword_chk a.all {width:56px;color:#fff;background:#5e63a2;border:1px solid #5e63a2;}

.hall_chk {padding:30px 0;border-top:1px dashed #ddd;text-align:center;}
.hall_chk .ko {margin-top:2px;}
.hall_chk a {display:inline-block;width:150px;height:36px;padding:0;margin:2px 1px;line-height:36px;border:1px solid #ddd;vertical-align:middle;text-decoration:none;transition:none;-webkit-transition:none}
.hall_chk a:hover,
.hall_chk a.on {color:#fff;background:#222337;border:1px solid #222337;}
.hall_chk a.all {width:56px;color:#fff;background:#5e63a2;border:1px solid #5e63a2;}

/* Board List */
.board_list {width:100%;clear:both;border-top:2px solid #2d2f44;}
.board_list thead tr th {padding:20px 0 17px 0;border-bottom:1px solid #757575;color:#2d2f44;text-align:center;}
.board_list tbody tr td {padding:15px 0 15px 0;border-bottom:1px solid #ddd;text-align:center;}
.board_list tbody tr td img {margin:-2px 4px 0 0;vertical-align:middle;}
.board_list tbody .sbj {white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.board_list label.label-info {color:#900;}
.board_list .sbj {text-align:left;padding-left:10px;}
.board_list .sort {font-weight:700;color:#e60013;}
.board_list .url {text-align:left;}
.board_list .url a {color:#1889d9;text-decoration:underline;vertical-align:middle;}
.board_list .url a:hover {color:#1889d9;}
.board_list .file a {vertical-align:middle !important;margin:0 2px;}
.board_list .no_data {padding:120px 0 !important;color:#888 !important;border-bottom:1px solid #ddd;text-align:center;}
.board_list .no_data span {display:inline-block;}
.board_list .bg_req th, .board_list .bg_req td {background:#fffef8;}
.board_list.etc td {padding:5px 0;}

.paging {margin-top:30px;text-align:center;}
.paging a {display:inline-block;min-width:40px;height:40px;padding:7px 0;margin:1px;border:1px solid #ddd;vertical-align:middle;}
.paging span {display:inline-block;vertical-align:middle;}
.paging span a {text-align:center;text-decoration:none;}
.paging span a:hover,
.paging span a.on {background:#222337;color:#fff;border-color:#222337;transition:none;-webkit-transition:none;}
.paging > a {background:url("../images/common/bg_paging.png") no-repeat;}
.paging > a.first {background-position:0 0;}
.paging > a.prev {background-position:0 -50px;}
.paging > a.next {background-position:-50px -50px;}
.paging > a.last {background-position:-50px 0;}

/* Board View */
.board_view {width:100%;overflow:hidden;border-top:2px solid #2d2f44;}
.board_view .view_top {padding:36px 0 30px 0;border-bottom:1px solid #ddd;}
.board_view .view_top strong {display:block;font-size:28px;line-height:33px;text-align:center;font-weight:400 !important;}
.board_view .view_top .view_top_add {display:block;margin-top:20px;text-align:center;font-size:15px;color:#adadad;font-weight:300;line-height:1;}
.board_view .view_top .view_top_add > span{display:inline-block;margin:0 15px;}
.board_view .view_cont {padding:40px;overflow:hidden;border-bottom:1px solid #ddd;line-height:26px;}
.board_view .view_cont_in {min-height:250px;}
.board_view .view_cont_in img {max-width:1080px;}
.board_view .view_file {margin:-20px 0 40px 0;overflow:hidden;text-align:center;line-height:16px;}
.board_view .view_file img {vertical-align:middle;margin-right:5px;}
.board_view .view_file a {display:inline-block;padding-left:20px;margin:2px 0 2px 15px;font-size:15px;line-height:16px;font-weight:300;color:#777;/*background:url("../images/common/ico_file.png") no-repeat 0 center;*/}
.board_view .view_prevnext {}
.board_view .view_prevnext > li {padding:22px 40px 18px 180px;border-bottom:1px solid #ddd;overflow:hidden;position:relative;}
.board_view .view_prevnext span,
.board_view .view_prevnext a {display:block;line-height:20px;overflow:hidden;}
.board_view .view_prevnext a {white-space:nowrap;text-overflow:ellipsis;}
.board_view .view_prevnext .stt {width:100px;background:url("../images/common/bg_prevnext.png") no-repeat right 0;position:absolute;left:40px;top:22px;}
.board_view .view_prevnext .next .stt {background-position:right -30px;}

/* Board Write */
.required {color:#e60013;font-weight:700;margin-left:3px;}
.board_write {width:100%;overflow:hidden;border-top:2px solid #2d2f44;}
.board_write th {padding:10px 0 10px 40px;border-bottom:1px solid #ddd;color:#2d2f44;background:#eeeff4;}
.board_write thead th {padding:10px 0 10px 0;height:50px;}
.board_write tbody th {padding:10px 0 10px 40px;text-align:left;}
.board_write td {padding:10px;border-bottom:1px solid #ddd;}
.board_write td > input {width:100%;}
.board_write td .email em, .board_write td .email select {height:40px;line-height:40px;}
.board_write.tac td {padding:10px 5px;text-align:center;}

.inp_chk {overflow:hidden;}
.inp_chk label {margin-right:20px;}
.inp_chk.belong label {margin-right:0;width:22%;}
.inp_chk.belong input[type=text] {width:77%;}

.inp_chk_list {overflow:hidden;}
.inp_chk_list > li {float:left;padding:5px 0;width:20%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.inp_chk_list > li.etc {width:auto !important;}
.inp_chk_list > li.etc input[type=text] {margin-left:10px;width:313px}
.inp_chk_list.etc li {line-height:40px;padding:0;}
.inp_chk_list.etc li input[type=checkbox]:checked + label:after {top:12px;}
.inp_chk_list.etc li input[type=radio]:checked + label:after {margin-top:-4px;}

.inp_aside {position:relative;}
.inp_aside input[type=text],
.inp_aside input[type=password] {display:inline-block;width:60%;}
.inp_aside .aside {display:inline-block;margin-left:20px;vertical-align:middle;}

.inp_aside.website {padding-left:50px;}
.inp_aside.website input[type=text] {width:100%;}
.inp_aside.website span {display:inline-block;width:50px;position:absolute;left:0;top:0;line-height:40px;}

.inp_addr .post input {width:178px;margin-right:10px;}
.inp_addr .addr {margin-top:10px;}
.inp_addr .addr input {width:49%;}
.inp_addr .addr input:last-of-type {width:50%;}

/* table */
.tbl {border-top:1px solid #e2e2e8;}
.tbl table {width:100%;}
.tbl thead th {padding:18px 0;border-bottom:1px solid #e2e2e8;border-left:1px solid #e2e2e8;background:#eeeff4;}
.tbl thead tr th:first-of-type {border-left:none;}
.tbl tbody th {padding:18px 5px 18px 40px;text-align:left;border-bottom:1px solid #e2e2e8;border-right:1px solid #e2e2e8;background:#f3f4f9;word-break:break-all;}
.tbl tbody td {padding:18px 5px 18px 20px;border-left:1px solid #e2e2e8;border-bottom:1px solid #e2e2e8;}
.tbl tbody tr td:first-of-type {border-left:none;}
.tbl.tac td {padding:18px 5px;text-align:center;}

/* 전시회안내 */
.info_vis {margin-bottom:60px;height:150px;overflow:hidden;background:url('../images/about/info_img01.png') no-repeat center center;background-size:cover;position:relative;text-align:center;}
.info_vis span {display:block;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);color:#fff;font-weight:300;font-size:38px;}
.info_vis.greeting {background:url('../images/guide/greeting_img01.png') no-repeat center center;background-size:cover;}
.info_vis.prd {background:url('../images/about/info_img02.png') no-repeat center center;background-size:cover;}
.info_vis.prd span {font-size:27px;line-height:35px;}
.info_vis.gmep {background:url('../images/gmep/gmep_img01.png') no-repeat center center;background-size:cover;}
.info_vis.gmep span {font-size:27px;line-height:35px;}
.list_logo {overflow:hidden;}
.list_logo > ul {margin:-20px 0 0 -20px;}
.list_logo > ul > li {float:left;margin:20px 0 0 20px;}
.list_logo > ul > li a {display:block;border:1px solid #ddd;text-align:center;}

.prd_list {padding:20px 25px 20px 15px;margin-bottom:60px;overflow:hidden;border:1px solid #2d2f44;}
.prd_list li {float:left;width:25%;margin:5px 0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.prd_list li a {display:block;padding:5px 10px 5px 20px;margin-left:10px;}
.prd_list li a:hover,
.prd_list li a.on {background:#222337;color:#fff;text-decoration:none;}
.prd_list.etc li {width:20%;}

.prd_list_detail {overflow:hidden;border:1px solid #ddd;}
.prd_list_detail ul {margin:-1px -1px -1px 0;overflow:hidden;}
.prd_list_detail li {float:left;width:33.33%;border-bottom:1px solid #ddd;border-right:1px solid #ddd;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.prd_list_detail li span {display:inline-block;padding:12px 0 10px 15px;width:60px;font-size:15px;font-weight:700;color:#006faa;}
.prd_list_detail li strong {display:inline-block;padding:12px 0 10px 15px;font-weight:400;letter-spacing:-0.5px;}

/* 전시장도면 */
.floor_wrap {overflow:hidden;}
.floor_wrap .bx {float:left;padding:60px 50px 50px;width:600px;height:540px;overflow:hidden;border:1px solid #ddd;}
.floor_wrap .map02 {margin-left:-1px;}
.floor_wrap .map {text-align:center;}
.floor_wrap .info {margin-top:50px;overflow:hidden;}
.floor_wrap .info > strong {float:left;display:inline-block;width:131px;font-size:56px;font-weight:700;line-height:1;color:#e60013;}
.floor_wrap .info > ul {float:left;min-height:90px;}
.floor_wrap .info > ul li {margin-top:9px;color:#555;}
.floor_wrap .info > ul li:first-child {margin-top:0;}
.floor_wrap .btn_area {margin-top:30px;padding-top:30px;border-top:1px solid #e2e2e8;text-align:center;}
.floor_wrap .btn_area .btn {min-width:158px;}

/* 교통안내 */
.map_warp {overflow:hidden;margin-bottom:30px;border:1px solid #ddd;}
.map_area {float:left;overflow:hidden;width:62%;}

.map_exp {float:right;width:38%;}
.map_tab {overflow:hidden;background:#ebebeb;}
.map_tab ul {display:table;width:100%;table-layout:fixed;}
.map_tab li {display:table-cell;}
.map_tab li a {display:block;height:50px;text-align:center;color:#444;text-decoration:none;line-height:50px;}
.map_tab li a.on {background:#44476c;color:#fff;}

.map_exp_view {overflow:hidden;}
.map_chk {padding:17px 20px 15px;border-bottom:1px solid #44476c;}
.map_chk > strong {display:inline-block;margin-right:20px;}
.map_chk > label {width:120px;}
.map_view li {padding:15px 20px;border-top:1px dashed #ddd;}
.map_view li:first-child {border-top:none;}
.map_view li > img {vertical-align:middle;margin-right:10px;}

.traffic_wrap {overflow:hidden;margin-bottom:60px;border:1px solid #ddd;}
.traffic_wrap.bm {margin-top:-61px;border:1px solid #ddd;}
.traffic_map {float:left;overflow:hidden;width:62%;max-height:495px;border-right:1px solid #e2e2e8;text-align:center;}
.traffic_map img {width:100%;}

.traffic_exp {float:right;overflow:hidden;width:38%;}
.traffic_exp dl:first-child {border-top:none;}
.traffic_exp dl {padding:25px;border-top:1px dashed #ddd;}
.traffic_exp dt {margin-bottom:8px;font-weight:700;font-size:18px;}
.traffic_exp dt em {font-size:15px;color:#f54242;}
.traffic_exp dd {margin-top:5px;font-size:15px;}
.traffic_exp dd strong {display:block;margin-bottom:3px;color:#5e63a2;}
.traffic_exp dd li {padding:17px 0 13px;border-top:1px dashed #ddd;overflow:hidden;}
.traffic_exp dd li strong {float:left;display:inline-block;margin-bottom:0;width:30%;}
.traffic_exp dd li span {float:left;display:inline-block;width:70%;}
.traffic_exp dd li:first-child {border-top:none;}
.traffic_exp dd .full li {padding:0 0 0 10px;border:none;overflow:hidden;background:url('../images/common/bl_dot01.png') no-repeat left 10px;}
.traffic_exp dd .full li strong {float:none;display:inline-block;width:100%;}
.traffic_exp .ico {margin-right:7px;vertical-align:top;}
.traffic_exp > ul > li dl {border:none;border-left:1px solid #e2e2e8;}
.traffic_exp > ul > li dl:first-child {border:none;}
.traffic_exp > ul > li {display:table;width:100%;overflow:hidden;table-layout:fixed;border-top:1px solid #e2e2e8;}
.traffic_exp > ul > li:first-child {border:none;}

.traffic_wrap.etc {}
.traffic_wrap.etc .traffic_map {float:none;width:100%;border-right:none;border-bottom:1px solid #e2e2e8;}
.traffic_wrap.etc .traffic_map img {width:auto;max-width:100%;}
.traffic_wrap.etc .traffic_exp {float:none;width:100%;}
.traffic_wrap.etc .traffic_exp dl {display:table-cell;width:50%;}

.bx_list01.traffic dl {margin-top:25px;}

/* 호텔안내 */
.hotel_wrap {overflow:hidden;}
.hotel_map {float:left;width:45%;height:770px;overflow:hidden;}
.hotel_list {float:left;width:55%;height:770px;overflow:hidden;overflow-y:auto;}
.hotel_list > ul {width:100%;margin:-5px 0 0 0;}
.hotel_list > ul > li {float:left;margin:0;padding:5px 0 0 5px;width:33.333333%;}
.hotel_list > ul > li a {display:block;padding:3%;height:225px;font-size:12px;line-height:18px;color:#a8a4a4;font-weight:300;border:1px solid #ddd;}
.hotel_list > ul > li a:hover {text-decoration:none;border-color:#222337;}
.hotel_list > ul > li a .thum {overflow:hidden;}
.hotel_list > ul > li a:hover .thum img {transform:scale(1.1);}
.hotel_list > ul > li a strong {display:block;padding:15px 0 7px;text-align:center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:1.188em;color:#222337;}
.hotel_list > ul > li a > span,
.hotel_list > ul > li a .info span {display:block;text-align:center;}
.hotel_list > ul > li a .info > span {}
.hotel_list > ul > li a .info em {font-weight:400;color:#222337;}

/* 참관사전등록 */
.login_wrap {overflow:hidden;width:100%;}
.login_wrap .inp {margin-bottom:10px;}
.login_wrap input {width:100%;height:50px;}
.login_wrap .btn_wrap {margin-top:20px;}
.login_wrap .btn_wrap .btn {min-width:230px;}
.login_wrap .inp_chk.bm {margin:20px 0 30px;}
.login_wrap .inp_chk input {width:auto;height:auto;}
.login_wrap .inp_chk label {margin:0 20px;}
.login_bm {margin-top:20px;}
.login_bm a {font-size:14px;text-decoration:underline;}
.bx_wrap.seminar_search .bx,
.bx_wrap.search .bx,
.bx_wrap.pwd .bx {border-color:#222337;}
.bx_wrap.regist .bx {height:450px;border-color:#222337;}
.bx_wrap.regist .fix {min-height:188px;}
.bx_wrap.regist .fix p span {display:block;}
.bx_wrap.regist .btn {width:100%;}
.bx_wrap.regist .bx1 {background:url("../images/enroll/ico_regist01.png") no-repeat top 30px right 30px;}
.bx_wrap.search .bx2,
.bx_wrap.pwd .bx2,
.bx_wrap.regist .bx2 {background:url("../images/enroll/ico_regist02.png") no-repeat top 30px right 30px;}
.bx_wrap.seminar_search .bx2 {background:url("../images/seminar/ico_seminar.png") no-repeat top 30px right 30px;}

/*사전등록 안내 210125*/
.info_enroll {margin-bottom:60px;width:100%;height:300px;padding:50px 100px 0 50px;background:url('../images/enroll/regist_bg.png') no-repeat center center;background-size:cover;position:relative;}
.info_enroll .img {float:left;width:20%;}
.info_enroll .txt {float:left;width:80%;overflow:hidden;margin-top:10px;position:relative;color:#fff;font-weight:300;font-size:24px;line-height:40px;text-align:left;}
.info_enroll .txt > p {margin-top:10px;font-size:18px;line-height:30px;}


.agree_wrap {padding:40px;border:1px solid #e2e2e8;height:350px;overflow:hidden;overflow-y:auto;}
.agree_wrap.non {height:auto;overflow-y:hidden;}
.agree_cont p {line-height:28px;}
.agree_cont > h4 {margin:40px 0 15px 0;font-size:21px;color:#2d2f44;}
.agree_cont > h5 {margin:30px 0 15px 0;font-size:19px;color:#2d2f44;}
.agree_cont > h4:first-of-type {margin-top:0;}
.agree_cont .top {margin-bottom:30px;}
.agree_cont .mid {margin-bottom:10px;}
.agree_cont .add {margin-top:5px;}
.agree_cont .bm {margin-top:30px;}

.agree_chk {margin-top:15px;}
.agree_chk + .btn_area {padding-top:15px;}


.board_view .view_link {padding:15px 40px 15px 40px;border-bottom:1px solid #ddd;}
.board_view .link-stt {font-size:14px;color:#a5a5a5;padding-right:15px;}



.result_wrap {padding:170px 20px 60px 20px;background:url("../images/common/bg_result.png") no-repeat top 60px center;text-align:center;border:1px solid #222337;}
.result_wrap > strong {display:block;font-size:24px;line-height:30px;font-weight:400;}
.result_wrap > p {margin-top:15px;font-size:15px;line-height:24px;}

/* 출품사 상담예약 */
.regist_chk {padding:40px 10px;border:1px solid #2d2f44;overflow:hidden;text-align:center;}
.regist_chk dt {margin-bottom:10px;font-size:18px;}
.regist_chk dd {}
.regist_chk dd input[type=radio] + label:before {vertical-align:middle;}

.agree_wrap.regist {margin-top:30px;height:250px;}
.agree_wrap.regist .ul_type01 > li {margin-top:20px;}
.agree_wrap.regist .ul_type01 > li:first-child {margin-top:0;}

/* 참가업체 상세 */
.prd_view {padding:60px 0 30px;border-top:2px solid #2d2f44;border-bottom:1px solid #e2e2e8;}
.prd_view h3 {font-size:30px;}
.prd_view h4 {margin-top:50px;}
.prd_view .btn_area.top {margin-top:-40px;}
.prd_comp {overflow:hidden;}
.prd_comp .comp_tit {float:left;display:table;width:26%;}
.prd_comp .comp_tit h3 {display:none;}
.prd_comp .comp_logo {display:table;width:100%;height:240px;overflow:hidden;border:1px solid #e2e2e8;text-align:center;}
.prd_comp .comp_logo > span {display:table-cell;width:100%;vertical-align:middle;text-align:center;}
.prd_comp .comp_logo img {display:inline-block;width:209px;}
.prd_comp .comp_info {float:left;padding-left:30px;width:74%;overflow:hidden;}
.prd_comp .comp_info td {}
.prd_detail {margin-top:0;}
.prd_thum {}
.prd_thum ul {overflow:hidden;margin:-10px 0 0 -10px;}
.prd_thum ul li {float:left;margin-top:10px;padding-left:10px;width:20%;}
.prd_thum ul li span {display:block;text-align:center;width:100%;height:220px;background-size:cover;background-position: center !important; overflow: hidden;}
.prd_thum ul li strong {display:block;text-align:center;margin-top:10px;font-size:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

.search_inner {margin:0 auto;position:relative;display:block;}
.search_inner:after {display:block;clear:both;content:'';}
.search_inner ul {width:100%;}
.search_inner ul > li {position:relative;display:table-cell;vertical-align:middle;}
.search_inner ul > li.left60 {float:left;width:60%;padding-right:20px;}
.search_inner ul > li.right40 {float:right;width:40%;}
.search_inner ul > li.left70 {float:left;width:70%;padding-right:20px;}
.search_inner ul > li.right30 {float:right;width:30%;}
.search_inner ul > li.left80 {float:left;width:80%;padding-right:20px;}
.search_inner ul > li.right20 {float:right;width:20%;}
.search_inner ul > li.left50 {float:left;width:50%;padding-right:20px;}
.search_inner ul > li.right50 {float:right;width:50%;}

/* 전시품별 검색 */
.prd_wrp {overflow:hidden;}
.prd_wrp .prd_tt {height:50px;background:#ececec;color:#8d8d8d;text-align:right;line-height:50px;font-weight:300;}
.prd_wrp .prd_area {float:left;width:280px;overflow:hidden;}
.prd_wrp .prd_area a {display:block;position:relative;}
.prd_wrp .prd_area .prd_tt {background:#dd0b1c;text-align:center;}
.prd_wrp .prd_area .prd_tt h3 {display:inline-block;padding:0;margin:0;color:#fff;font-size:18px;font-weight:300;background:none;}
.prd_wrp .prd_area .prd_tt h3:after {display:none;}
.prd_wrp .prd_category {padding:20px 0 0 0;overflow:hidden;}
.prd_wrp .prd_category a span {position:absolute;right:5px;top:2px;color:#8b8b8b;font-size:11px;font-weight:300;}
.prd_wrp .prd_category > ul > li {border-bottom:1px solid #ddd;}
.prd_wrp .prd_category > ul > li > a {padding:10px 70px 7px 20px;font-size:15px;text-decoration:none;}
.prd_wrp .prd_category > ul > li > a em {}
.prd_wrp .prd_category > ul > li > a:after {display:inline-block;content:"";width:12px;height:10px;background:url("../images/common/bg_onoff.png") no-repeat 0 0;position:absolute;right:5px;top:50%;margin-top:-5px;background-size:12px auto;}
.prd_wrp .prd_category > ul > li > a > span {right:35px;top:10px;}
.prd_wrp .prd_category > ul > li > ul {display:none;padding:5px 0 20px;}
.prd_wrp .prd_category > ul > li > ul > li > a {padding:5px 40px 5px 20px;font-size:13px;font-weight:300;}
.prd_wrp .prd_category > ul > li.on > ul {display:block;}
.prd_wrp .prd_category > ul > li.on > a {color:#dd0b1c;}
.prd_wrp .prd_category > ul > li.on > a:after {background-position:0 -10px;}
.prd_wrp .prd_category > ul > li > ul > li.on > a {color:#000;font-weight:400;}
.prd_wrp .prd_exp {float:right;width:920px;overflow:hidden;}
.prd_wrp .prd_exp .prd_tt {padding-right:40px;}
.prd_wrp .prd_exp .prd_tt span {color:#000;font-weight:400;margin-left:7px;}
.prd_exp .exp_area {padding:0 0 0 50px;}
.prd_exp .exp_area > ul > li {padding-top:30px;}
.prd_exp .exp_area > ul > li:hover a {border-color:#222;}
.prd_exp .exp_area > ul > li a {display:block;padding:40px;position:relative;overflow:hidden;border:1px solid #e2e2e8;text-decoration:none;}
.prd_exp .exp_area > ul > li a > strong {display:block;margin-bottom:15px;font-size:22px;color:#485b82;}
.prd_exp .exp_area > ul > li a > strong span {font-size:15px;color:#b1b1b1;font-weight:400;margin-left:7px;}
.prd_exp .exp_area > ul > li a .info {overflow:hidden;}
.prd_exp .exp_area > ul > li a .info .thum {float:left;width:280px;height:210px;overflow:hidden;position:relative;text-align:center;line-height:210px;}
.prd_exp .exp_area > ul > li a .info .thum img {max-width:100%;max-height:100%;vertical-align:middle;}
.prd_exp .exp_area > ul > li a .info_exp {float:right;width:470px;overflow:hidden;}
.prd_exp .exp_area > ul > li a .info_exp ul li {padding-left:72px;margin-top:8px;position:relative;overflow:hidden;font-size:15px;}
.prd_exp .exp_area > ul > li a .info_exp ul li:first-child {margin-top:0;}
.prd_exp .exp_area > ul > li a .info_exp ul li > em {display:inline-block;width:72px;position:absolute;left:0;top:0;}
.prd_exp .exp_area > ul > li a .info_exp .txt {margin-top:20px;height:100px;font-size:14px;line-height:25px;color:#7c7c7c;overflow:hidden;}
.prd_exp .exp_area .no_data span {display:block;padding:120px 0;overflow:hidden;border:1px solid #e2e2e8;color:#888 !important;text-align:center;}

/* 전시품별 검색 - 삭제예정 *************************/
.prd_wrap {overflow:hidden;border-bottom:1px solid #e2e2e8;}
.prd_wrap .prd_area {float:left;overflow:hidden;width:16%;}
.prd_wrap .prd_tt {padding:22px 5px 0;height:60px;background:#e60013;text-align:center;}
.prd_wrap .prd_tt h3 {padding:0;margin:0;color:#fff;font-size:18px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;background:none;}
.prd_wrap .prd_tt h3:after {display:none;}
.prd_wrap .prd_category {width:100%;height:656px;overflow:hidden;overflow-y:auto;border-left:1px solid #e2e2e8;}
.prd_wrap .prd_category ul {position:relative;}
.prd_wrap .prd_category li {height:41px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;border-top:1px solid #e2e2e8;font-size:15px;}
.prd_wrap .prd_category li:first-child {border-top:none;}
.prd_wrap .category01 .prd_category {background:#f9f9fa;}
.prd_wrap .category01 a {display:block;padding-left:10px;text-decoration:none;line-height:41px;}
.prd_wrap .category01 a:hover,
.prd_wrap .category01 a.on {color:#e60013;font-weight:700;transition:none;-webkit-transition:none;}
.prd_wrap .category02 .prd_tt {background-color:#010033;}
.prd_wrap .category02 .prd_category {background:#f2f2f5;}
.prd_wrap .category02 .prd_category li {padding:7px 0 0 10px;}

.prd_result {float:left;overflow:hidden;width:68%;}
.prd_result .prd_tt {background-color:#383a59}
.prd_result .result_area {width:100%;height:656px;overflow:hidden;overflow-y:auto;border-right:1px solid #e2e2e8;}
.prd_result .result_area .board_list {border-top:none;}
.prd_result .result_area .board_list * {text-align:center;font-size:14px;}
.prd_result .result_area .board_list thead tr th {padding:15px 0 11px 0;}
.prd_result .result_area .board_list td {padding:10px 5px;}
.prd_result .result_area .board_list .thum {margin:0;width:42px;height:30px;}
.result_area .prd_view {padding:60px 20px 30px;border:none;}
.result_area .prd_view th {padding:15px 5px 15px 15px;font-size:14px;}
.result_area .prd_view td {padding:15px 5px 15px 10px;font-size:14px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.result_area .prd_view .prd_detail {margin-top:30px;font-size:14px;line-height:26px;}
.result_area .prd_view p {font-size:14px;line-height:26px;}
.result_area .prd_comp .comp_logo {height:217px;}
.result_area .prd_thum ul li span {height:134px;}
/************************* 전시품별 검색 - 삭제예정 */

/* 세미나 */
.accdMulti {}
.accd_btn {display:block;overflow:hidden;}
.accd_cont {display:none;}
.accdMulti > ul > li .accd_btn {transition:none;-webkit-transition:none}
.accdMulti > ul > li.on .accd_btn {}
.accdMulti > ul > li.on .accd_cont {display:block;}



.accd_cont2 {display:none;}
.accdMulti2 > ul > li .accd_btn2 {transition:none;-webkit-transition:none}
.accdMulti2 > ul > li.on .accd_btn2 {}
.accdMulti2 > ul > li.on .accd_cont2 {display:block;}


.seminar_all.accdMulti {}
.seminar_all.accdMulti .accd_btn {display:block;overflow:hidden;}
.seminar_all.accdMulti .accd_cont {display:none;padding:25px 20px;border-top:1px solid #e2e2e8;background:#f3f4f9;}
.seminar_all.accdMulti > ul > li .accd_btn {background:url("../images/common/bg_updown.png") no-repeat right -60px;transition:none;-webkit-transition:none}
.seminar_all.accdMulti > ul > li.on .accd_btn {background-position:right 20px;}
.seminar_all.accdMulti > ul > li.on .accd_cont {display:block;}

.seminar_all {border-top:2px solid #2d2f44;overflow:hidden;}
.seminar_all > ul > li {border-bottom:1px solid #ddd;overflow:hidden;text-align:left;font-size:15px;}
.seminar_all > ul > li span {display:block;}
.seminar_all > ul > li > a > span {float:left;}
.seminar_all > ul > li > a {padding:25px 20px 20px;font-size:18px;line-height:20px;}
.seminar_all > ul > li > a .num {width:5%;}
.seminar_all > ul > li > a .sbj {width:70%;}
.seminar_all > ul > li > a .sbj strong {float:left;max-width:80%;font-weight:400;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.seminar_all > ul > li > a .sbj em {margin-left:5px;color:#e60013;}
.seminar_all > ul > li > a .date {width:25%;font-size:15px;}
.seminar_all .accd_cont > ul {padding-left:5%;}
.seminar_all .accd_cont > ul > li {padding:5px 0;border-top:1px dashed #ddd;}
.seminar_all .accd_cont > ul > li:first-child {padding-top:0;border-top:none;}
.seminar_all .detail {overflow:hidden;line-height:35px;}
.seminar_all .detail .sbj_add > span {float:left;display:block;vertical-align:middle;}
.seminar_all .detail .sbj {float:left;display:block;width:30%;padding-right:10px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.seminar_all .detail .place {width:13%;}
.seminar_all .detail .time {width:18%;}
.seminar_all .detail .total {width:40%;color:#3460a8;font-weight:700;}
.seminar_all .detail .total em {color:#e60013;}
.seminar_all .detail .aside {float:right;width:10%;text-align:right}
.seminar_all .detail .aside p {margin-top:3px;font-size:13px;line-height:15px;font-weight:300;color:#888;}
.seminar_all .detail .aside p span {display:inline;color:#e60013;font-weight:700;}
.seminar_all .detail .aside .btn {width:100px;padding:0;text-align:center;}

.seminar_list {border-top:2px solid #2d2f44;overflow:hidden;}
.seminar_list > ul > li {padding:25px 20px 20px;border-bottom:1px solid #ddd;overflow:hidden;text-align:left;position:relative;}
.seminar_list > ul > li .num {float:left;width:5%;}
.seminar_list > ul > li .sbj {float:left;width:70%;}
.seminar_list > ul > li .sbj a {font-size:18px;line-height:20px;}
.seminar_list > ul > li .sbj_add {padding-top:15px;margin-top:10px;border-top:1px dashed #e2e2e8;}
.seminar_list > ul > li .sbj_add li {float:left;padding-left:20px;margin-left:20px;font-size:14px;font-weight:300;color:#888;background:url('../images/common/line_ver01.png') no-repeat left center;}
.seminar_list > ul > li .sbj_add li:first-child {padding-left:0;margin-left:0;background:none;}
.seminar_list > ul > li .sbj_add li.sum span {color:#2d2f44;font-weight:700;}
.seminar_list > ul > li .sbj_add li.sum span strong {color:#e60013;}
.seminar_list > ul > li .aside {float:right;width:120px;text-align:right;}
.seminar_list > ul > li .aside div img {width:90%;}
.seminar_list > ul > li .aside p {margin-top:5px;font-size:14px;font-weight:300;color:#888;}
.seminar_list > ul > li .aside p span {color:#e60013;font-weight:700;}
.seminar_list > ul > li .aside .btn {width:100px;padding:0; z-index:9999999999999999999;}
/*.seminar_list > ul > li .aside .btn_re:hover {background:#e60013 !important;}*/



/*
.tbl_seminar {width:100%;padding:0px 20px 20px 70px;background-color: #f8f9fb;border-bottom:1px solid #222337;}
.tbl_seminar table {width:100%;font-size: 14px;}
.tbl_seminar thead th {}
.tbl_seminar tbody th {padding:10px;text-align:left;border-bottom:1px dashed #e2e2e8;word-break:break-all;}
.tbl_seminar tbody td {padding:10px;border-bottom:1px dashed #e2e2e8;}
.tbl_seminar tbody td:nth-of-type(1) {width:25%;}
.tbl_seminar tbody td:nth-of-type(2) {width:18%;}
.tbl_seminar tbody td:nth-of-type(3) {width:8%;}
.tbl_seminar tbody td:nth-of-type(4) {width:13%;}
.tbl_seminar tbody td:nth-of-type(5) {width:6%;}
*/



.tbl_seminar {width:100%;padding:0px 20px 0px 50px;background-color: #f8f9fb;} /*border-bottom:1px solid #222337;*/
.tbl_seminar table {width:100%;font-size: 14px;}
.tbl_seminar thead th {}
.tbl_seminar tbody th {padding:10px;text-align:left;border-bottom:1px dashed #e2e2e8;word-break:break-all;}
.tbl_seminar tbody td {padding:5px 10px;border-bottom:1px dashed #e2e2e8;}
.tbl_seminar tbody td:nth-of-type(1) {width:25%;}
.tbl_seminar tbody td:nth-of-type(2) {width:25%;}
.tbl_seminar tbody td:nth-of-type(3) {width:10%;}
.tbl_seminar tbody td:nth-of-type(4) {width:7%;}
.tbl_seminar tbody td:nth-of-type(4) img {width:70%;} 

.tbl_seminar tbody td:nth-of-type(5) {width:13%; padding-left:30px;}
.tbl_seminar tbody td:nth-of-type(6) {width:9%;}


/* 세미나 */
.seminar_info_wrap {padding-bottom:60px;}
.seminar_info {overflow:hidden;/*width:850px;*/width:1200px;margin:0 auto;}
.seminar_info li {float:left;margin-left:75px;width:350px;overflow:hidden;padding:10px 0 20px 0;}
.seminar_info li:first-child {margin-left:0;}
.seminar_info li:nth-child(4) {margin-left:0;}
.seminar_info li p {text-align:center;font-size:17px;line-height:25px;padding-top:10px;}

.seminar {padding-top:80px;background:url('../images/common/bg_line.png') repeat-x 0 0;background-size:auto 10px;}
.seminar_wrap {margin-bottom:80px;overflow:hidden;}
.seminar_wrap li:after {display:block;clear:both;content:'';}
.seminar_wrap .img {float:left;padding:0;width:600px;}
.seminar_wrap .img:after {background:#b8559c;}
.seminar_wrap .txt {float:right;padding-top:40px;width:540px;}
.seminar_wrap .txt > strong {display:block;margin-bottom:20px;font-size:25px;line-height:30px;font-weight:400;color:#e60013;}

.seminar_wrap li:last-child .img {float:right;}
.seminar_wrap li:last-child .txt {float:left;margin-left:50px;padding-right:30px;}



/* 세미나실 안내 */
.gallery_list {overflow:hidden;border:1px solid #ddd;}
.gallery_view {float:left;overflow:hidden;width:62%;max-height:495px;border-right:1px solid #e2e2e8;text-align:center;}
.gallery_view img {width:100%;max-height:330px;}

.gallery_thum {float:right;padding:30px;overflow:hidden;width:38%;}
.gallery_thum ul {display:inline-block;margin:-2px;}
.gallery_thum li {float:left;padding:1px;width:50%;}
.gallery_thum li.on {}
.gallery_thum li.on img {opacity:.4;}

/* 출품신청 */
.exhibit_top {padding:30px;margin-bottom:60px;overflow:hidden;border:1px dashed #2d2f44;text-align:center;}
.exhibit_top > strong {display:block;font-weight:300;font-size:22px;}
.exhibit_top > .btn_area {padding-top:15px;}

/* 인사말 */
.greeting_wrap {overflow:hidden;margin-bottom:60px;}
.greeting_wrap .top {font-size:26px;line-height:1;}
.greeting_wrap p {margin-top:20px;}
.greeting_wrap .sign {text-align:right;font-size:22px;font-weight:300;}

.greeting_exhibit {overflow:hidden;}
.greeting_exhibit > ul > li {float:left;padding:40px 20px 0;margin-left:-1px;width:25%;height:320px;overflow:hidden;border:1px solid #ddd;text-align:center;}
.greeting_exhibit > ul > li:first-child {margin-left:0px}
.greeting_exhibit > ul > li > strong {display:block;margin:15px 0 20px;font-size:18px;}
.greeting_exhibit > ul > li > p {line-height:26px;}
.greeting_exhibit > ul > li .btn_area {}

/* 연락처 */
.contact_wrap {overflow:hidden;}
.contact_wrap h5 {padding:0;margin-bottom:30px;color:#222337;}
.contact_wrap h5:after {display:none;}
.contact_wrap h5 img {display:inline-block;margin-right:3px;vertical-align:top;}
.contact_wrap .bx {padding:40px 40px 35px 40px;border:1px solid #ddd;overflow:hidden;position:relative;}
.contact_wrap .bx li {padding-left:10px;margin-top:5px;background:url("../images/common/bl_dot02.png") no-repeat 0 10px;overflow:hidden;}
.contact_wrap .bx li:first-child {margin-top:0;}
.contact_wrap .bx li > span {float:left;width:80px;font-size:15px;font-weight:700;line-height:28px;}
.contact_wrap .bx li > p {padding-left:80px;line-height:28px;}
.contact_wrap.col {border-top:1px solid #ddd;border-left:1px solid #ddd;}
.contact_wrap.col .bx {float:left;padding:40px 40px 0 40px;width:50%;height:220px;border-left:0;margin-top:-1px;}
.contact_wrap.col .bx:first-child {}



@media screen and (max-width:1024px) {
	.inner ul > li.left60 {display:block;float:none;width:100%;padding-right:0;}
	.inner ul > li.right40 {display:block;float:none;width:100%;}
	.inner ul > li.left70 {display:block;float:none;width:100%;padding-right:0;}
	.inner ul > li.right30 {display:block;float:none;width:100%;}
	.inner ul > li.left80 {display:block;float:none;width:100%;padding-right:0;}
	.inner ul > li.right20 {display:block;float:none;width:100%;}
	.inner ul > li.left50 {display:block;float:none;width:100%;padding-right:0;}
	.inner ul > li.right50 {display:block;float:none;width:100%;}

	.tbl th {font-size:14px;}
	.tbl td {font-size:15px;}
	.tbl tbody th {padding:14px 2px 14px 15px;}
	.tbl tbody td {padding:14px 2px 14px 9px;}


	.toptxt {margin-bottom:50px;font-size:16px}
	.toptxt.bdr {padding-bottom:40px;}

	.board_view .view_cont {padding-right:15px;padding-left:15px;}
	.board_view .view_prevnext .stt {width:90px;}
	.board_view .view_prevnext > li {padding-right:15px;padding-left:160px;}

	.top_tit {margin-bottom:30px;}
	.top_tit h2 {font-size:40px;}
	h3 {font-size:30px;margin-bottom:30px;}
	h4 {font-size:22px;margin-bottom:20px;}
	h4 span {font-size:14px;}
	
	/*사전등록 안내 210125*/
	.info_enroll {overflow:hidden;padding:30px;height:auto;text-align:center;}
	.info_enroll .txt {float:none;width:100%;font-size:20px;line-height:30px;}
	.info_enroll .img {margin-top:10px;float:none;width:calc(100% / 3);display:inline-block;}
	.info_enroll .txt > p {font-size:15px;line-height:25px;}

	.list_logo > ul {margin:-5px 0 0 -5px;}
	.list_logo > ul > li {width:calc(100% / 6);margin:0;}
	.list_logo > ul > li a {margin:5px 0 0 5px}

	.prd_list_detail li strong {padding-left:10px;font-size:15px;}

	.floor_wrap .bx {padding:40px 30px 30px;width:50%;height:500px;}
	.floor_wrap .info {margin-top:40px;}
	.floor_wrap .info > strong {width:22%;}
	.floor_wrap .info > ul {width:78%;}
	.floor_wrap .info li {font-size:15px;}
	.floor_wrap .btn_area .btn {min-width:127px;}

	.map_warp * {font-size:15px;}

	.bx_wrap.regist .fix p span {display:inline;}
	.bx_wrap .bx {padding:60px;}

	.prd_wrp .prd_area {width:24%;}
	.prd_wrp .prd_exp {width:76%;}
	.prd_exp .exp_area > ul > li a {padding:30px;}
	.prd_exp .exp_area > ul > li a .info_exp {width:340px;}

	/************ 삭제예정 */
	.prd_view h3 {font-size:24px;}
	.prd_view h3 span {font-size:16px;}
	.prd_comp .comp_logo {height:211px;}
	.prd_thum ul li span {height:172px;}
	.prd_detail {padding:30px;margin-top:30px;max-height:420px;overflow:hidden;overflow-y:auto;font-size:14px;border:1px solid #ddd;}

	.prd_wrap .prd_tt h3 {font-size:16px;}
	.prd_wrap .prd_category * {font-size:14px;}
	.result_area .prd_thum ul li span {height:90px;}
	/* 삭제예정 ************/

	.seminar_all .detail .place {width:15%;}
	.seminar_all .detail .time {width:12%;}
	.seminar_all .detail .time > em {display:none;}
	.seminar_all .detail .aside {width:15%;}

	.tbl_seminar {width:100%;padding:10px 10px 10px 30px;}
	.tbl_seminar table {width:100%;font-size: 13px;line-height: normal;}
	.tbl_seminar tbody tr {border-bottom:1px dashed #e2e2e8;}
	.tbl_seminar tbody td {display: block;padding:5px 5px 5px 10px;width:100%;border-bottom:none;}
	.tbl_seminar tbody td:nth-of-type(1) {width:100%;}
	.tbl_seminar tbody td:nth-of-type(2) {width:100%;}
	.tbl_seminar tbody td:nth-of-type(3) {width:100%;}
	
	.search_inner ul > li.left60 {float:none;display:block;width:100%;padding-right:0 !important;}
	.search_inner ul > li.right40 {float:none;display:block;width:100%;padding-left:0 !important;}
	.search_inner ul > li.left70 {float:none;display:block;width:100%;padding-right:0 !important;}
	.search_inner ul > li.right30 {float:none;display:block;width:100%;padding-left:0 !important;}
	.search_inner ul > li.left80 {float:none;display:block;width:100%;padding-right:0 !important;}
	.search_inner ul > li.right20 {float:none;display:block;width:100%;padding-left:0 !important;}
	.search_inner ul > li.left50 {float:none;display:block;width:100%;padding-right:0 !important;}
	.search_inner ul > li.right50 {float:none;display:block;width:100%;padding-left:0 !important;}
}

@media screen and (max-width:830px) {
	.tbl.scroll {overflow-x:scroll;}
	.tbl.scroll table {width:830px;}

	.bx_wrap.col {overflow:hidden;}
	.bx_wrap.col .bx {float:none;padding:50px;width:100%;margin:-1px 0 0 0;}
	.bx_wrap.col .bx:first-child {margin:0;}

	.tab ul > li a {padding:2px;font-size:15px;}

	.info_vis {height:120px;}
	.info_vis span {font-size:20px;}
	.info_vis.prd span {font-size:15px;}

	.list_logo > ul > li {width:calc(100% / 3);}

	.prd_view > h3 {display:none;}
	.prd_comp .comp_tit {float:none;display:block;width:100%;overflow:hidden;}
	.prd_view .comp_tit > h3 {float:right;display:block;margin:30px 0 0 0;width:60%;}
	.prd_comp .comp_logo {float:left;width:36%;height:130px;}
	.prd_comp .comp_logo > span {}
	.prd_comp .comp_info {float:none;padding-left:0;margin-top:10px;width:100%;overflow:hidden;}

	.prd_list li {width:100%;}
	.prd_list_detail li {width:100%;}

	.floor_wrap .bx {float:none;padding:40px 20px 30px;width:100%;height:auto;}
	.floor_wrap .map02 {margin-top:-1px;margin-left:0;}
	.floor_wrap .info > ul {min-height:auto;}
	.floor_wrap .info > strong {font-size:48px;}
	.floor_wrap .btn_area .btn {min-width:auto;padding:0 10px;}

	.map_warp {display:none;}

	.traffic_wrap {}
	.traffic_map {float:none;overflow:hidden;width:100%;max-height:495px;border-bottom:1px solid #ddd;border-right:none;}
	.traffic_exp {float:none;overflow:hidden;width:100%;}

	.gallery_list {}
	.gallery_view {float:none;overflow:hidden;width:100%;max-height:495px;border-bottom:1px solid #ddd;border-right:none;}
	.gallery_thum {float:none;overflow:hidden;width:100%;}

	.hotel_map {float:none;width:100%;height:350px;overflow:hidden;}
	.hotel_map img {width:100%;}
	.hotel_list {float:none;width:100%;height:auto;margin-top:30px;overflow:hidden;}
	.hotel_list > ul {width:auto;margin:-5px 0 0 -5px;}
	.hotel_list > ul > li {width:calc(100% / 3);}
	.hotel_list > ul > li a .thum {height:126px;}

	.bx_column.regist .bx {height:auto;}
	.bx_column.regist .fix {min-height:auto;}
	.bx_column.regist .fix p span {display:block;}

	.prd_wrp .prd_area {width:30%;}
	.prd_wrp .prd_exp {width:70%;}
	.prd_exp .exp_area > ul > li a .info {text-align:center;}
	.prd_exp .exp_area > ul > li a .info .thum {display:inline-block;float:none;}
	.prd_exp .exp_area > ul > li a .info_exp {float:none;margin-top:20px;width:100%;text-align:left;}

	.prd_view h3 span {display:block;margin-top:10px;}
	.prd_thum ul li span {height:138px;}

	.prd_wrap .prd_area {float:none;width:100%;}
	.prd_wrap .prd_tt {padding:19px 5px 0;height:50px;}
	.prd_wrap .prd_category {height:190px;border:1px solid #e2e2e8;}
	.prd_wrap .category02 .prd_category li {float:left;width:33.33333%;}
	.prd_result {float:none;width:100%;}
	.prd_result .result_area {height:100%;overflow:hidden;border:none;}
	.result_area .prd_view {padding-left:0;padding-right:0;}

	.seminar_all > ul > li > a .sbj {width:65%;}
	.seminar_all .detail {position:relative;}
	.seminar_all .detail .sbj {float:none;width:100%;padding-right:130px;font-weight:400;font-size:16px;}
	.seminar_all .detail .sbj_add {float:none;width:100%;margin-top:0;font-size:14px;font-weight:300;overflow:hidden;}
	.seminar_all .detail .place {width:16%;}
	.seminar_all .detail .time {width:16%;}
	.seminar_all .detail .total {width:35%;font-weight:400;}
	.seminar_all .detail .aside {position:absolute;right:0;top:5px;width:130px;}

	.seminar_list > ul > li .sbj_add li.sum {display:none;}

	.board_write:after {content:'';display:block;}
	.board_write colgroup,
	.board_write thead {display:none}
	.board_write tbody > tr > td,
	.board_write tbody > tr > th {display:block;float:none;clear:left;width:100%;padding-left:0;padding-right:0;}
	.board_write tbody > tr > th {padding-top:15px;padding-bottom:0;background-color:transparent;border-bottom:none;text-align:left}
	.board_write tbody > tr > th {line-height:inherit}
	.board_write tbody > tr > td {padding-top:5px;padding-bottom:15px;border-top:none;border-bottom:1px solid #e3e3e3;text-align:left}
	.board_write tbody > tr.top > td {margin-bottom:5px;border-bottom:1px dashed #e3e3e3;}
	.board_write tbody > tr:first-child > th {background-color:transparent}
	.board_write tbody > tr:first-child > th+td {border-top:none}
	.board_write .td_no {border-bottom:none;padding-bottom:0 !important;}

	.inp_chk.belong label {margin:0;width:100%;}
	.inp_chk.belong input[type=text] {margin-top:10px;width:100%;}
	.inp.tel {width:100%;}
	
	
	

	.agree_wrap {padding:20px;}

	.contact_wrap.col .bx {float:none;padding:40px;width:100%;height:auto;}
}

@media screen and (max-width:768px) {
	.top_tit {margin-bottom:30px;}
	.top_tit h2 {font-size:33px;}
	h3 {font-size:24px;margin-bottom:20px;}
	h4 {font-size:20px;margin-bottom:15px;}
	h4 span {font-size:14px;}

	.traffic_exp > ul > li dl {border:none;border-top:1px solid #e2e2e8;}
	.traffic_wrap.etc .traffic_exp dl {display:block;width:100%;}

	.board_list * {font-size:14px;}

	.inp_aside input[type=text] {width:100%;}
	.inp_aside .aside {margin:10px 0 0 0;}
	.inp_addr .addr input[type=text] {margin-top:-1px;width:100%;}

	.seminar_list > ul > li .sbj {width:70%;}
	.seminar_list > ul > li .sbj_add li {padding-left:10px;margin-left:10px;}

	.greeting_exhibit > ul > li {float:left;padding:40px 20px;margin:-1px 0 0 0;width:100%;height:auto;}
	.greeting_exhibit > ul > li:first-child {margin-top:0;}
}

@media screen and (max-width:425px) {
	
	
	.tbl tbody th {padding:10px;text-align:center;word-break:break-all;}	
	.bx_wrap h3 {margin-bottom:20px;font-size:24px;}

	.prd_list {padding:5px 15px 5px 5px;}
	.prd_list li a {padding:5px 5px 5px 10px;margin-left:5px;font-size:13px;}

	.prd_list_detail li {font-size:15px;}

	.hide_mo {display:none !important;}
	.board_list .sbj {width:70%;}
	.board_list td, .board_list .td {width:30%;font-size:14px;}

	.board_top {}
	.board_count {float:none;margin:0 0 10px 0;}
	.board_search {float:none;width:100%;position:relative;padding:0 56px 0 105px;}
	.board_search select {position:absolute;left:0;top:0;}
	.board_search .btn_search {position:absolute;right:0;top:0;}
	.board_search .inp_search {width:100%;}

	.inp_chk_list > li {width:50% !important;}

	.hotel_map {display:none;}
	.hotel_list {margin-top:0;}
	.hotel_list > ul {width:auto;margin:-5px 0 0 -5px;}
	.hotel_list > ul > li {width:calc(100% / 2);}
	.hotel_list > ul > li a .thum {height:110px;}

	.bx_wrap.regist .fix p span {display:inline;}

	.prd_wrp .prd_area {width:100%;}
	.prd_wrp .prd_category {padding:5px 0 0 0;margin-top:-1px;}
	.prd_wrp .prd_exp {width:100%;}
	.prd_wrp .prd_exp .prd_tt {padding:0 0 0 20px;text-align:left;background-color:#383a59;color:#9b9dbd;}
	.prd_wrp .prd_exp .prd_tt span {color:#fff;}
	.prd_exp .exp_area {padding:0;}
	.prd_exp .exp_area > ul > li {padding-top:10px;}
	.prd_exp .exp_area > ul > li a .info .thum {width:100%;height:auto;}

	.prd_view > h3 {display:block;}
	.prd_comp .comp_tit {float:none;display:block;width:100%;overflow:hidden;}
	.prd_view .comp_tit > h3 {display:none;}
	.prd_comp .comp_logo {float:none;width:100%;height:130px;}
	.prd_thum ul li {width:33.3333%;}
	.prd_thum ul li span {height:126px;}

	.prd_wrap .category02 .prd_category li {width:50%;}

	.seminar_all .accd_cont > ul {padding-left:0;}
	.seminar_all > ul > li > a .sbj {width:80%;}
	.seminar_all > ul > li > a .date {display:none;}
	.seminar_all .detail .sbj {padding-right:120px;}
	.seminar_all .detail .sbj_add {margin-top:-2px;padding-bottom:3px;}
	.seminar_all .detail .place {display:none !important;}
	.seminar_all .detail .time {width:23%;font-size:12px;line-height:14px;}
	.seminar_all .detail .total {display:none !important;}
	.seminar_all .detail .aside {width:120px;top:0;}
	.seminar_all .detail .aside .btn {width:90px;height:25px !important;line-height:25px !important;}
	.seminar_all .detail .aside p {margin-top:-1px;font-size:12px;}

	.seminar_list > ul > li {padding-right:120px;}
	.seminar_list > ul > li .num {width:10%;}
	.seminar_list > ul > li .sbj {width:88%;}
	.seminar_list > ul > li .sbj a {font-size:16px;}
	.seminar_list > ul > li .sbj_add {padding-top:7px;margin-top:2px;}
	.seminar_list > ul > li .sbj_add li {float:none;padding-left:0;margin-left:0;background:none;font-size:12px;line-height:16px;}
	.seminar_list > ul > li .aside {width:120px;position:absolute;top:25px;right:20px;}
	.seminar_list > ul > li .aside .btn {width:90px;height:25px !important;line-height:25px !important;}
	.seminar_list > ul > li .aside p {margin-top:-1px;font-size:12px;}
	.contact_wrap h5 em {font-size:20px;}

}

@media screen and (max-width:420px) {
	.seminar_list > ul > li .aside div img {width:70%; padding-top:40px; margin-left:50px;}
	.btn.large02 {min-width:250px;height:60px;line-height:60px;font-size:20px;border-radius: 15px;}		
	.tbl thead th {padding:18px 10px; font-size:11px; line-height:16px;}	
	.tbl tbody td {font-size:11px;}	
	
	.green_tab li a {
		font-size: 12px;
		font-weight: normal;
		color: #555;
		display: block;
		width: 100%;
		height: 100%;
		display: table;
		text-decoration: none;
		padding: 0 4px
	}
	.tbl_seminar tbody td:nth-of-type(5) {width:50%;}
	
}


@media screen and (max-width:350px) {
	.btn.large02 {min-width:130px;height:50px;line-height:50px;font-size:18px;border-radius: 10px;}	
}