﻿@charset "utf-8";

@import url("common_eng.css");
@import url("content_eng.css");



#civer_blockbox { position:fixed; top:0; left:0; width:100%; height:100%; background:url("../images/common/opa70.png"); z-index:150; display:none; }


/* 동영상 박스 */
#civer_box { position:fixed; left:50%; z-index:150; display:none;}
/*#civer_box > a {text-indent:-5000px; position:absolute;top:8px; right:19px; width:29px; height:29px; background:url('/kr/img/common/popup_close.png') no-repeat; background-position:center center; padding:0 10px; }*/
#civer_box > a { display:block; width:50px; position:absolute; right:-50px; top:0; z-index:150; } 
#civer_box > a img { width:100%; }
#civer_box.login {border:none;}
#civer_box.login > a { right:13px; top:13px; }

#civer_box #popupbox{ width:100%; height:100%; }

.pop_body { height:700px; max-height:100%; /* border-width:30px 20px 20px; border-style:solid; border-color:#003757; */ background:url('../images/common/opacity_bg.png') repeat; }
.pop_body > div.pop { overflow-y:scroll; height:100%; min-height:100%; background:#fff; }
.pop_body > div.no-scroll {overflow-y:hidden;}
.pop_body > div.pop .pop_box {background:#fff;}
.pop_body > div.pop .pop_box p {line-height:inherit;}
.pop_body > div.pop .pop_box .pop_info {overflow:hidden; padding:40px 30px;} /* padding:20px 34px 0; */
.pop_body > div.pop .pop_box .p_content {padding:0 3px 0; margin-top:10px; text-align:center; font-size:14px;}

.pop_body > div.pop .pop_box h2.b {margin-bottom:25px;font-size:28px;line-height:30px;}
.pop_body > div.pop .pop_box h2.b span {font-weight:300;font-size:18px;line-height:30px;color:#888;}
.pop_body > div.pop .pop_box h2.ttl_w span {border-bottom:1px solid #fff; }
.pop_body > div.pop .pop_box h3.b {margin-bottom:10px;font-size:20px;}
.pop_body > div.pop .pop_box h4.b {width:100%;margin:0 0 15px;padding-top:5px;background:none;font-size:18px;font-weight:600;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.pop_body > div.pop .pop_box h5.b {margin:25px 0 15px; background:none;  font-size: 20px; font-weight: 700;}

/* 호텔팝업 */
.pop_body > div.pop .hotel_box {}
/*.hotel_down {display: inline-block; border:1px solid #ddd; background:#fff; }
.hotel_down a { display:block; padding: 8px 15px; }
.hotel_down a:hover { background-color:rgb(146, 0, 12); color:#fff; }*/
#net_photo { width:19%; float:right; }
#net_photo ul { margin:0; padding:0 }
#net_photo ul li { width:100%; margin-top:6.5px; cursor:pointer; }
#net_photo ul li:first-child { margin-top:0; }
#net_photo ul li a { display:block; }
#net_photo ul li a img { width:100%; }
#net_img { width:80.1%; height:380px; position:relative; overflow:hidden; } 
#net_img ul li { display:none; width:100%; position:absolute; left:0; top:0; z-index:1; }
#net_img ul li.on {display:block; }
#net_img ul li img { width:100%; }
div.slide_wrap { width:100%; position:relative; overflow:hidden; margin-top:10px; }

.tour_map_box { overflow:hidden}

.pop_body > div.pop .pop_box .pop_info .imgbox {float: left;  width: 30%; text-align: center; height:137px; vertical-align:middle; border: 1px solid #aaa; background-size:contain !important;}
.pop_body > div.pop .pop_box .pop_info .imgbox img {vertical-align:middle;}
.pop_body > div.pop .pop_box .pop_info .txtbox {float:right; width:64%;}

.pop .sub_tab {margin-top:20px;}
.sub_tab{padding:0;margin-bottom:60px;background:#fff;position:relative;margin-bottom: 20px;}
.sub_tab ul{width:100%;display:table;border:1px solid #ddd;border-bottom:0;position:relative;table-layout:fixed;}
.sub_tab ul > li{position:relative;display:table-cell;height:50px;vertical-align:middle;border-left:1px solid #ddd;text-align:center;border-bottom:1px solid #ddd;transition:none;}
.sub_tab ul > li a{position:relative;display:block;width:100%;max-height:50px;padding:5px 15px;text-align:center;font-size:18px;color:#777;transition:none;}
.sub_tab ul > li a > span{display:inline-block;height:100%;position:relative;}
.sub_tab ul > li:first-child{border-left:0;}
.sub_tab ul > li.on{border-bottom:0;transition:none;}
.sub_tab ul > li.on a{border-bottom:1px solid transparent;font-weight:bold;color:#2d2f44;transition:none;}
.sub_tab ul > li.on:before{display:block;content:'';width:calc(100% + 2px);height:2px;position:absolute;z-index:1;top:-1px;left:-1px;background:#2d2f44;transition:none;}


/* .sub_tab { border:1px solid #ccc; background-color:#fff; margin-bottom:20px; }
.sub_tab ul { overflow:hidden; background: #c0ab85; }
.sub_tab ul.bg { background-color: #ded5ce; }
.sub_tab ul li { float:left; width: 11%; }
.sub_tab ul.tab2 li { width:50%; }
.sub_tab ul.tab3 li { width:33.32%;}
.sub_tab ul.tab4 li { width:25%; }
.sub_tab ul.tab5 li { width:20%; }
.sub_tab ul.tab6 li { width:16.65%;}
.sub_tab ul li:first-child { margin-left:0 !important; }
.sub_tab ul li a { display:block; text-align:center; padding:15px 0; font-weight:700; font-size:17px; color:#fff; }
.sub_tab ul li a:hover ,
.sub_tab ul li.on a { background:#a48e67; }

.sub_tab ul li a:hover,
.sub_tab ul li a.on {  background:#a48e67; }

.sub_tab ul li > span { display:block; padding:8px 0; background-color:rgba(255,255,255,0.2); border:1px solid #ccc; text-align:center; font-size:16px;  }
.sub_tab ul li.on > span { background-color:rgba(231,3,26,0.4); border:1px solid #e7031a; color:#fff !important;} */
#sub_box .section01 { margin-top:53px; }
#sub_box .location_box { overflow: hidden; }
#sub_box .location_box > div#map_canvas { margin: 0; overflow: hidden; height: 400px; width: 100%; }

.hotel_box #data{display: none;}
.hotel_box .border_box {overflow:hidden;padding:20px;border:1px solid #2d2f44;background:#fff;}
.hotel_box .border_box.top {margin-bottom:20px;line-height:20px;font-size:15px;font-weight:300;}
.hotel_box .border_box .left {float:left;}
.hotel_box .border_box .right {float:right;}

.pop_info .gallery_list{margin-bottom: 20px;}

/*포토갤러리*/
.pop_body > div.pop .pop_box .bbs_photo_box {position:relative; height:600px;}
.pop_body > div.pop .pop_box .no_img_box {text-align:center;padding:31% 0;background:#dedede; font-size:28px;}
/*
.pop_body > div.pop .pop_box .pop_info .memo { clear:both; overflow:hidden; @height:100%; margin-top:30px; border-top:1px solid #aeaeae;}
.pop_body > div.pop .pop_box .pop_info .memo b { float:left; color: #242424; padding:8px;}
.pop_body > div.pop .pop_box .pop_info .memo .txt { margin-left:75px; padding:8px; line-height:1.6em; }
*/
@media all and (max-width:1650px){
#net_img { width:80.2%; height:340px;} 
#net_photo ul li { margin-top: 5.5px;}
}
@media all and (max-width:900px){
	.pop_body > #product_company .pop_box .pop_info {padding:20px 34px 0}
	.pop_body > div.pop .pop_box .bbs_photo_box img {height: 100% !important;}
}
@media all and (max-width:899px){
	/*포토갤러리*/
	.pop_body > div.pop .pop_box .bbs_photo_box {height:auto;}
	.pop_body > div.pop .new_pop {position: absolute; margin-top:-43.5%;  top: 50%; width:100%;}
	.pop_body > div.pop .pop_box .p_content  { padding:0px; }
}
@media all and (max-width:800px){
	#net_img { height:300px;}

	.pop_body .tbl:after {content:'';display:block;}
	.pop_body .tbl colgroup,
	.pop_body .tbl thead {display:none}
	.pop_body .tbl tbody > tr > td,
	.pop_body .tbl tbody > tr > th {display:block;float:none;clear:left;width:100%;}
	.pop_body .tbl tbody > tr > th {padding:10px 0 10px 10px;border-right:none;border-bottom:none;line-height:inherit}
	.pop_body .tbl tbody > tr > td {padding:10px 0 10px 10px;border:none;border-bottom:1px solid #e3e3e3;text-align:left}
	.pop_body .tbl tbody > tr.top > td {margin-bottom:5px;border-bottom:1px dashed #e3e3e3;}
	.pop_body .tbl tbody > tr:first-child > th+td {border-top:none}
}
@media all and (max-width:768px){
	.pop_body > div.pop .pop_box .pop_info .imgbox {height:134px;}
	.map_box .btn_box{text-align:right;}
}
@media all and (max-width:640px){
	#product_company .pop_box .item .imgbox {width:100%; height:150px; max-height:150px; margin-bottom:10px; }
	.pop_body > div.pop .pop_box .pop_info .imgbox {min-height:150px;}
	.pop_body > div.pop .pop_box .pop_info .txtbox { width:100%;}
	.pop_body > div.pop .pop_box .pop_info h4.b {margin:10px 0 !important;}
	.tour_map_box { display:none }
	.tour_time { margin-top:20px !important}
}


